{% extends "vmart.html" %}
{% load static %}

{% if user.is_authenticated %}
{% block title %} {{user.username}} {% endblock title %}
{% else %}

{% endif %}

{% block header %}

{% endblock header %}






{% block rightcontent %}  
<div class="navOrderSliderViewOne">
    <div class="navSliderOrder">
        <label class="taggleOrderPage">
            <input type="checkbox" checked>
            <span class="sliderTaggleOrderPage round"></span>
        </label>
        <div class="navSliderOrderLeft"  id="orderDe" name="orderDe">
            <!-- <span onclick="cliendStatusOAD('all')"> All <span class="allNotice" id="allLiveId">0</span> </span> -->
            <span onclick="cliendStatusOAD('paid')"> Order <span class="orderNotice" id="ordersLiveId">0</span></span>
            <span onclick="cliendStatusOAD('accept')"> Accept <span class="acceptNotice" id="acceptLiveId">0</span></span>
            <span onclick="cliendStatusOAD('delivered')"> Delivered <span class="deliveredNotice" id="deliveredId">0</span></span>
        </div>
    </div>
</div>



    <div class="orderSliderViewOneMain" id="orderPageSliderOne">
        <div class="sideBarOrderSliderViewOneMain" id="sideBarOrderSliderViewOneMainId">
            <div class="topsideBarOrderSliderViewOneMain">
                <div class="lefttopsideBarOrderSliderViewOneMain">
                    <div class="lefImgSliderOneDashboard">
                        <img src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg"
                            alt="">
                    </div>
                </div>
                <div class="righttopsideBarOrderSliderViewOneMain">
                    <i class="fa-solid fa-expand"></i>
                    <i class="fa-regular fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="searchSideBarOrderSliderViewOneMain">
                <input type="search" placeholder="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="listOfSideBarOrderSliderViewOneMain" id="userChats">

             
            </div>




        </div>
        <div class="displayOrderSliderViewOneMain" id="displayOrderSliderViewOneMainId">
            <section class="main-pd-wrapper" style="padding: 10px;;height: 100%; margin: auto; overflow-y: scroll;display: contents;" id="rightBody">
            
            </section>
        
        </div>


    </div>









{% endblock rightcontent %}



{% block script %}

<!-- <script>
    function openSidebarOrder() {
        document.getElementById("orderSliderViewOneMainMoileopen").style.display = "block !important"
        console.log("asfwwdasw")
    }

</script> -->



<script>
    let mainContent = document.querySelector('#sideBarOrderSliderViewOneMainId');
    let secondaryContent = document.querySelector('#displayOrderSliderViewOneMainId');
    let trinaryConent = document.getElementsByClassName('sendHeadlistOfSideBarOrderSliderViewOneMain');
    let fourthConent = document.querySelectorAll('.adressHideOrder');
    // let forthConent = document.querySelector((window).width() < 960 && document.querySelector('.sideBarOrderSliderViewOneMain'));
    document.querySelector('.taggleOrderPage input').addEventListener('change', e => {
        mainContent.style.width = e.target.checked ? '25%' : '100%';
        secondaryContent.style.display = e.target.checked ? 'block' : 'none';
        // trinaryConent.style.display = e.target.checked ? 'grid' : 'flex';
        // trinaryConent.style.justifyContent = "space-around";
        // fourthConent.style.display = e.target.checked ? 'none' : 'block';
for (var i=0;i<fourthConent.length;i+=1){
    fourthConent[i].style.display =  e.target.checked ? 'none' : 'block';
}


        // fourthConent.style,margin= '20px';
    });
</script>

<script>

    let clientStatus="{{cliendStatus}}"
</script>

<script type="text/javascript" src="{% static 'js/order.js' %}"></script>

{% endblock script %}