
{% load static %}

<!-- {% block title %} password-change{% endblock title %} -->

<!-- {% block header %}
<link rel="stylesheet" href="{% static 'css/newDash.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock header %} -->

    <!-- {% block rightcontent %} -->
<div class="frmCenter">


<!-- <div class="navbar navbar-dark bg-primary" id="innernav1"> -->
<!-- 
          <div class="container">
            <div class="container-fluid  align-items-center">
            <div class="row" id="hihi">
              <div class="col-lg-7 col-md-10" id="divhihi">
                <h1 class="name-of-person text-capitalize">Hello {{user.username}}</h1>
                <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
              </div>
            </div>
          </div> -->


          

<form method="post" class="profileForm" style="position: relative;">
    <div class="headFlex" id="">
           
        <h3>Change password</h3>
   
</div>
    {% csrf_token %}
    
    <span class="formOne">
        {% for i in form %}
     
        {{i.label}}


        {{i}}
     
        {% endfor %}
    </span>
        <div class="spanSubmitForm">
        <input type="submit" name="Create User">
      
    
</form>
        
              <!-- </div> -->
</div>
<script>
      document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('input');

        for (var i = 0; i < inputs.length; i++) {
            var input = inputs[i];
            var label = document.querySelector('label[for="' + input.id + '"]');

            if (label) { // Add a null check for the label element

                if (input.hasAttribute('required')) {
                    var asteriskSpan = document.createElement('span'); // Create a <span> element
                    asteriskSpan.textContent = ' *';
                    asteriskSpan.classList.add('required-asterisk'); // Add class to the <span> element
                    label.appendChild(asteriskSpan); // Append the <span> element to the label


                } else {
                    label.textContent += ' (optional)';
                }
            }
        }
    });
    </script>
    <!-- {% endblock rightcontent %} -->


