/* Digital transactions are growing exponentially and are gradually becoming a mainstay channel of commerce for many enterprises and small businesses alike. The diversity of the world brings together some unique challenges to digital adoption but solutions that are simple, scalable, and designed with local considerations in mind have been able to make a mark in this growing market */

position: absolute;
width: 1203px;
height: 75px;
left: 119px;
top: 581.64px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* or 139% */
display: flex;
align-items: center;

color: #FFFFFF;

