{% extends "admindash.html" %}
{% load static %}


{% block title %} register {% endblock title %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

{% endblock header %}






{% block rightcontent %}

<div class="forgotPassEmailReq">


    <!-- <h3>Enter New Password</h3>
    <p>Please enter password twice so we have  spell mistake</p> -->
    <form method="post">
        {%csrf_token %}
        {{form.as_p}}
        <input type="submit" name="btn" value="UpdatePassword">
    </form>


</div>

   

{% endblock rightcontent %}



{% block script %}


{% endblock script %}





