{% extends "admindash.html" %}
{% load static %}

{% block title %} register {% endblock title %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock header %}


{% block rightcontent %}
<div class="forgotPassEmailReq">


    <!-- <h3>Enter New Password</h3>
    <p>Please enter password twice so we have  spell mistake</p> -->
    <h3>Password reset completed</h3>
    <p>Your password has been set go ahead and login now</p>
    
    <button><a href="{%  url 'clientList' %}">Back To List</a></button>


</div>
{% endblock rightcontent %}


{% block script %}


{% endblock script %}
