{% extends "admindash.html" %}
{% load static %}


{% block title %} register {% endblock title %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

{% endblock header %}






{% block rightcontent %}

<div class="forgotPassEmailReq">


  <h3>Password Reset</h3>
  <p>
    Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
  </p>
  
  <form method="post">
    {%csrf_token %}
    {{form}}<br><br>
  
    <input type="submit" name="btnsubmit" value="sendemail">
  
  </form>
  
  
  </div>
  


   

{% endblock rightcontent %}



{% block script %}


{% endblock script %}
