<div class="mT15">

    <div class="eventBtnsSliderFlex">
        <div class="btnConLevel">
            <a href="{% url 'AppointmentInfo' %}">
                 <button class="">Main</button></a><!--<button class="{% if 'donationInfo' in request.path %}activeNavDash{% endif %}">Main</button></a>-->
            <a href="{% url 'AppointmentMaster' %}"> 
                <button class="">Consultant</button></a>
                <!--<button class="{% if 'donationMaster' in request.path or 'editDontion' in request.path or 'addDonation' in request.path %}activeNavDash{% endif %}">Donation Type</button></a>-->
           
        </div>
    </div>

 
</div>