{% extends "ticketDash.html" %}
{% load static %}


{% block title %}
    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        Sunburst Chart
    {% endif %}
{% endblock title %}



{% block header %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.plot.ly/plotly-latest.min.css">




{% endblock header %}






{% block rightcontent %}




        {{ ticket_html|safe }}
</div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock rightcontent %}



{% block script %}


{% endblock script %}