{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    /* .sectionOneMainDIv {
        background: url("{% static 'img/healthImgBg.png' %}") center no-repeat;
    } */
    .bg1 {
        background: url("{% static 'img/serviceImgBgSide.png' %}") no-repeat;
    }
</style>

{% endblock header %}





{% block body %}
<div class="bg1">
    <div class="section2" style="    margin: 0 90px;align-items: baseline;">


        <div class="sectionOneMainDIv" style="padding: 30px 0">
            <div class="sectionImgLeft">
                <div class="sectionMainOne">
                    <span style="display: flex; flex-direction: row; gap: 15px;">
                        <h1>
                            Brillion1

                        </h1>
                    </span>
                    <h2 style="font-size: 32px; line-height: 43.65px;">
                        Delivering solutions for business success

                    </h2>

                </div>



            </div>
            <div class="sectionImgRight">
                <img src="{% static 'img/aboutImg1.png' %}" alt="">
            </div>
        </div>


    </div>
</div>


<div class="section2add" style="position: relative;">
    <span style="width: 100%;position: absolute;right: -90px;">
        <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
    </span>
    <p>
        Welcome to Brillion1 - where innovation meets connectivity, and business expansion finds its digital conduit. We
        are a dynamic start-up driven by a singular vision: to empower businesses to transcend boundaries, connecting
        them to billions and beyond through the transformative power of WhatsApp. Our mantra is that every customer
        interaction is a moment of truth for the businesses. If managed well, they help not only in customer retention
        but also in acquiring new customers.


    </p>
    <span style="width: 100%;position: absolute;z-index: 111;bottom: 30px;left: -90px;">
        <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
    </span>
</div>


<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">


        <p>
            Brillion1 is founded on a commitment to innovation, reliability, and client success. We embrace a
            customer-centric approach, prioritizing seamless communication and personalized solutions to empower
            businesses. Transparency and integrity are integral to our values, ensuring a trusted partnership with our
            clients. Our team is dedicated to fostering collaborative relationships, understanding unique business
            needs, and providing tailored solutions that drive meaningful and measurable results.

        </p>

        <br>

        <p>
            It all started with a realisation: WhatsApp, the world’s most popular messaging platform, has the potential
            to change the way businesses interact, communicate and succeed in today’s digital world. That vision led to
            the creation of Brillion1. Our comprehensive suite of offerings encompasses platforms, solutions, and
            services meticulously designed to propel businesses towards unparalleled growth and seamless communication.
            At Brillion1, we're pioneers in crafting innovative solutions and services exclusively built on WhatsApp's
            robust APIs.


        </p>


    </div>

    <div class="dcTwoRightSection widthThirty">
        <img src="{% static 'img/aboutImgOne.png' %}" alt="" style=" width: 100%; !important">
    </div>

</div>

<div class="mainDcSection">

    <div class="dcTwoRightSection widthThirty">
        <img src="{% static 'img/aboutImgTwo.png' %}" alt="">
    </div>
    <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">



        <p>
            We believe in harnessing the full potential of WhatsApp’s API to create bespoke solutions tailored to the
            unique needs of each business. Whether it’s enhancing customer engagement, streamlining operations, or
            unlocking new avenues for growth, our offerings are crafted to deliver tangible and measurable results. From
            solutions that optimize workflows to services offering expert guidance and support, we are dedicated to
            being your trusted partner in harnessing WhatsApp's potential for your business's success. Our team at
            Brillion1 comprises passionate individuals driven by a shared purpose - to empower businesses, regardless of
            their scale or industry, to thrive in the digital era.


        </p>

    </div>



</div>


<div class="sectionParagraph">
    <p style="font-size: 16px; line-height: 21.82px;">
        We are proud to announce that Brillion1 is an ISO 9001:2015 certified company. This certification is a testament
        to our unwavering dedication to quality, process excellence, and customer satisfaction. We pride ourselves on
        our agility, innovation, and unwavering dedication to exceeding our clients' expectations.
        <br>
        <br>
        We are excited to announce that we have become a Meta-technology provider. Our commitment to innovation and
        cutting-edge technology has enabled us to embrace Meta technologies, enhancing our customers' experiences and
        services. As a Meta technology provider, we are prepared to excel in the dynamic world of digital
        transformation, offering advanced solutions and pushing technological boundaries.
        <br>
        <br>
        Join us on this journey as we pave the way for businesses to transcend boundaries, connect with billions, and
        realize their true potential. Together, let's harness the power of WhatsApp and Meta technologies to propel your
        business towards limitless possibilities.
    </p>
</div>


<div class="section3" style="margin: 0 90px !important;">

    <div class="flexImgLan">
        <img src="{% static 'img/certificate4.png' %}" alt="img14New">
        <img src="{% static 'img/whatsapplog.png' %}" alt="img15New">
        <img src="{% static 'img/metalogo.png' %}" alt="img16New">
    </div>
</div>










{% endblock body %}






{% block script %}

{% endblock script %}