{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .bg1 {
        background: url("{% static 'img/appoitmentbg.png' %}");
    }
</style>

{% endblock header %}





{% block body %}



<div>

    <div class="bg1">
        <div class="section2" style="    margin: 0 90px;align-items: baseline;">


            <div class="sectionOneMainDIv" style="padding: 30px 0">
                <div class="sectionImgLeft">
                    <div class="sectionMainOne">
                        <span style="display: flex; flex-direction: row; gap: 15px;">
                            <h1>
                                Brillion1 Appointment

                            </h1>
                            <img src="{% static 'img/headerImgApp.png' %}" alt="" style="width: fit-content;">
                        </span>
                        <h2 style="font-size: 32px; line-height: 43.65px;">
                            Scheduling an appointment made super easy

                        </h2>

                    </div>



                </div>
                <div class="sectionImgRight">
                    <img src="{% static 'img/appointmentImg.png' %}" alt="">
                </div>
            </div>


        </div>
    </div>

    <div class="section2add" style="position: relative;">
        <span style="width: 100%;position: absolute;right: -90px;">
            <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
        </span>
        <p>
            Brillion1 Appointment is a booking management solution that seamlessly integrates with WhatsApp, providing
            professionals and service providers with a dynamic scheduling tool. By harnessing the convenience of
            WhatsApp, Brillion1 Appointment simplifies the interaction between service providers and their clientele.
            Clients now enjoy the flexibility to schedule, reschedule, or cancel appointments at their convenience,
            creating a hassle-free experience.

        </p>
        <span style="width: 100%;position: absolute;z-index: 111;bottom: 30px;left: -90px;">
            <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
        </span>
    </div>





    <!-- <div class="dcSectionOne">
        <h2 style="color: #fff"> </h2>
        <p style="color: #fff; padding: 20px;">I would love to share with you guys my recent work Beauty Product
            Website Design.
            Hope</p>

    </div> -->

    <div class="mainDcSection flexReverce">


        <div class="dcOneLeftSection widthSixty" style="padding-left: 0;">


            <p>
                Businesses can leverage the platform's real-time messaging to engage with clients directly, confirming,
                rescheduling, or providing timely reminders for appointments. By implementing automated appointment
                scheduling via WhatsApp, businesses can reallocate their resources to focus on more strategic tasks,
                thereby improving productivity and efficiency.


            </p>


        </div>

        <div class="dcTwoRightSection widthThirty flexEnd">
            <img id="myImage1A" src="{% static 'img/myImage1A.png' %}" alt="">
        </div>

    </div>


    <div class="mainDcSection">

        <div class="dcTwoRightSection widthThirty">
            <img id="myImage2A" src="{% static 'img/myImage4A.png' %}" alt="">
        </div>
        <div class="dcOneLeftSection widthSixty flexEnd" style="padding-right: 0;">


            <p>
                Leveraging the popular messaging platform, individuals can initiate appointments by simply messaging the
                business or service provider. This direct and user-friendly method eliminates the need for complex
                booking systems or additional apps.

            </p>
            <!-- <div class="dcOneLeftSection marginZero" style="width: 57% !important;">
                            <h3>Brillion1 Ticket</h3> -->
            <ul>
                <li>

                    Professionals can manage their availability, manage holidays, update schedules in
                    real-time, and receive instant notifications of new appointments. <!-- </p> -->
                </li>
                <li>
                    Booking is simple and efficient for clients, leading to an improved experience.

                </li>
                <li>

                    With its intuitive interface, WhatsApp ensures a seamless experience for both service
                    providers and clients.

                </li>
                <li>
                    The simplicity of WhatsApp allows for quick communication, reducing the chances of
                    missed appointments and enhancing overall efficiency.
                </li>
                <li>
                    Multimedia features of WhatsApp enable the exchange of documents or location
                    details, adding an extra layer of clarity and ease to the scheduling process.
                </li>

            </ul>

        </div>
    </div>


    <!-- <div class="mainDcSection">


        <div class="dcOneLeftSection widthSixty">
          

            <p>
                The platform's intuitive interface ensures a smooth experience for both service providers and clients. Professionals can effortlessly manage their availability, manage holidays, update schedules in real-time, and receive instant notifications of new appointments. Meanwhile, clients find the booking and management process simple and efficient, contributing to an overall improved experience.
            
            </p>


        </div>

        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/appointmentImg3.png' %}" alt="">
        </div>

    </div>
   
    <div class="mainDcSection">

        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/appointmentImg4.png' %}" alt="">
        </div>

        <div class="dcOneLeftSection widthSixty">
          

            <p>
                Moreover, Brillion1 Appointment optimizes operational workflows across various industries. By automating appointment scheduling through WhatsApp, businesses can redirect their resources towards more strategic tasks, enhancing productivity and efficiency.
                            
            </p>


        </div>


    </div>
    <div class="mainDcSection">


        <div class="dcOneLeftSection widthSixty">
          

            <p>
                In an age where digital communication is integral to daily life, Brillion1 Appointment not only adapts to the current technological landscape but also enhances the accessibility and convenience of services. By leveraging the familiarity and convenience of WhatsApp, it takes a significant step towards modernizing and improving the client experience across diverse industries.

            </p>


        </div>

        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/appointmentImg5.png' %}" alt="">
        </div>

    </div>


    
    <div class="section2">

        <p style="padding:10px 125px;">
            Following are some of the industries which can use this powerful appointment scheduling tool include – Hospitals/Clinics, Doctors/Consultants, Sports Arena, Recruitment, B2B events etc.
        
        </p>
    </div> -->




</div>




<script>

    var imageElements = [
        document.getElementById('myImage1A'),
        document.getElementById('myImage2A'),

    ];

    var imagePaths = [
        [
            "{% static 'img/myImage2A.png' %}",
            "{% static 'img/myImage3A.png' %}",
            "{% static 'img/myImage1A.png' %}",
        ],
        [
            "{% static 'img/myImage5A.png' %}",
            "{% static 'img/myImage6A.png' %}",
            "{% static 'img/myImage4A.png' %}",

        ],


    ];

    var currentIndex = [0, 0, 0, 0, 0];

    // Change the images every 5 seconds
    setInterval(function () {
        for (var i = 0; i < imageElements.length; i++) {
            imageElements[i].src = imagePaths[i][currentIndex[i]];
            currentIndex[i] = (currentIndex[i] + 1) % imagePaths[i].length;
        }
    }, 3000);
</script>






{% endblock body %}






{% block script %}

{% endblock script %}


























<script src="./index.js"></script>
</body>

</html>