{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .dcSectionOne {
    background: url("{% static 'img/dcBackgroundImg.png' %}");
}
</style>

{% endblock header %}





{% block body %}



<div>
    <div class="dcSectionOne">
        <h2 style="color: #fff">Brillion1 Dipstick</h2>
        <!-- <p style="color: #fff; padding: 20px;">I would love to share with you guys my recent work Beauty Product
            Website Design.
            Hope</p> -->

    </div>

    <div class="mainDcSection">


        <div class="dcOneLeftSection widthSixty">
           

            <p>
                In the dynamic landscape of business, each customer interaction is viewed as a pivotal "moment of truth." This implies that every touchpoint between a customer and a business presents a unique opportunity to influence the customer's perception and, consequently, their loyalty. Successful enterprises understand the significance of these moments and actively seek timely feedback to ensure that they consistently meet and exceed customer expectations.            
            </p>


        </div>

        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/dipstickImg1.png' %}" alt="">
        </div>

    </div>


    <div class="mainDcSection">

        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/dipstickImg2.png' %}" alt="">
        </div>
        <div class="dcOneLeftSection widthSixty">
            

            <p>
                Traditional survey methods conducted through web and SMS channels are facing challenges in eliciting prompt and meaningful responses. This is primarily attributed to customer apathy towards these legacy communication channels, which may be perceived as intrusive or inconvenient. Recognizing the need for a more effective and customer-friendly approach, Brillion1 Dipstick has emerged as a solution.
            
            </p>


        </div>
    </div>


    <div class="mainDcSection">


        <div class="dcOneLeftSection widthSixty">
          

            <p>
                Brillion1 Dipstick enables enterprises to launch surveys seamlessly through WhatsApp, a widely-used and user-friendly platform. By leveraging the popularity of WhatsApp, businesses can create surveys that are not only simple and intuitive but also non-invasive. This shift to a more familiar and comfortable channel significantly increases the likelihood of customer participation, ensuring a higher response rate and more accurate feedback.

            </p>


        </div>

        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/dipstickImg3.png' %}" alt="">
        </div>

    </div>
   
    <div class="mainDcSection">

        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/dipstickImg4.png' %}" alt="">
        </div>

        <div class="dcOneLeftSection widthSixty">
          

            <p>
The analytics module integrated into Brillion1 Dipstick plays a pivotal role in transforming raw feedback into actionable insights. Businesses can harness this module to draw comprehensive insights across various dimensions, including different customer segments, the performance of specific campaigns, and the geographical distribution of customer feedback. This data-driven approach empowers enterprises to make informed decisions and implement timely interventions, addressing issues promptly and optimizing strategies based on real-time customer sentiments.

            </p>


        </div>


    </div>
    <div class="mainDcSection">


        <div class="dcOneLeftSection widthSixty">
          

            <p>
In essence, Brillion1 Dipstick doesn't just facilitate the collection of feedback; it transforms this feedback into a strategic asset. By leveraging WhatsApp and sophisticated analytics, businesses can stay attuned to their customers' evolving expectations, ensuring a proactive and customer-centric approach to their goods and services.

            </p>


        </div>

        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/dipstickImg5.png' %}" alt="">
        </div>

    </div>


    
    <div class="section2">

        <p style="padding:10px 125px;">
            Following are some of the industries which can use this powerful appointment scheduling tool include – Hospitals/Clinics, Doctors/Consultants, Sports Arena, Recruitment, B2B events etc.

        </p>
    </div>




</div>











    {% endblock body %}






    {% block script %}
    
    {% endblock script %}


    























    <script src="./index.js"></script>
</body>

</html>