{% extends "vailo.html" %}
{% load static %}

{% block title %}vailo.ai-direct-commerce {% endblock title %}


{% block body %}


<div class="bg1">
    <div class="section2" style="    margin: 0 90px;align-items: baseline;">


        <div class="sectionOneMainDIv" style="padding: 30px 0">
            <div class="sectionImgLeft">
                <div class="sectionMainOne">
                    <span style="display: flex; flex-direction: row; gap: 15px;">
                        <h1>
                            Brillion1 Dipstick

                        </h1>
                        <img src="{% static 'img/headerImgDip.png' %}" alt="" style="width: fit-content;">
                    </span>
                    <h2 style="font-size: 32px; line-height: 43.65px;">
                        Reach wider audience for an inclusive survey 
                    
                    </h2>
                  
                </div>



            </div>
            <div class="sectionImgRight">
                <img src="{% static 'img/dipstickImg.png' %}" alt="">
            </div>
        </div>

       
    </div>
</div>



<section class="directCommercePageVailo" id="directCommercePageVailoId">

    <div class="directCommerceFirst">
        <h2>Direct Commerce</h2>
           <div class="directcommerceRight">
            <img src="{% static 'img/directCommerceTopBanner.png' %}" alt="directCommerceTopBanner">

        </div>
        <div class="directCommerceLeft">
            <ul>
                <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                    <p>
                        With the introduction of new technologies and the growing acceptance of technology by all stakeholders throughout the value chain, from sellers to consumers, consumer commerce is a field that is continuously evolving.
                    </p>
                                </li>
                <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                    <p>
                        Consumer commerce has rapidly moved beyond traditional brick-and-mortar stores to include digital capabilities and an online presence.                    
                    </p>
                </li>
                <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                    <p>
                        Without a digital presence, many sellers fall prey to aggregators.
                    </p>               
                    </li>
                <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                    <p>
                        Which causes their revenues, margins, and level of control over their own enterprises to decrease.

                    </p>
                
                    </li>
                <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                    <p>
                        The moment has come for the concept of direct commerce to bridge the gap in internet commerce.                    
                    </p>
                
                    </li>
                <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                    <p>
                        
                        VAILO is a pioneer facilitating direct commerce for enterprises.                    
                    </p>
              
                    </li>
            </ul>

        </div>
     
    </div>

    <div class="directCommerceSecond columReverse">
        <div class="directCommerceSecondLeft">
            <h2>
                Direct reach to your Customers
            </h2>
            <p>
                People are progressively spending more time online than in the real world. They also expect to benefit from digital experiences in the real world, such as easy access to information and seamless shopping. With the help of VAILO, you can share a single catalog with both online and physical customers. Online isn't simply restricted to a website or an app; it may refer to any form of social media. With a QR code, offline can also be digitized, providing customers with the ease of the internet.
            
            </p>
        </div>
        <div class="directCommerceSecondRight">
            <div class="directComSecondRightImg">
                <img src="{% static 'img/direactCommerce1.png' %}" alt="">
            </div>
        </div>
    </div>

    <div class="directCommerceSecond">

        <div class="directCommerceSecondRight">
            <div class="directComSecondRightImg">
                <img src="{% static 'img/direactCommerce2.png' %}" alt="">
            </div>
        </div>

        <div class="directCommerceSecondLeft">
            <h2>
                Direct access to customers
            </h2>
            <p>
                Aggregators prevent direct communication between customers and businesses; VAILO is not an aggregator but rather an enabler. If a customer is a part of your business, you and only you are the owner of that customer, not your rivals or us. At the same time, we respect client privacy and do not provide companies access to confidential data unless it is absolutely essential.
            </p>
        </div>
    </div>

    <div class="directCommerceSecond columReverse">
        <div class="directCommerceSecondLeft">
            <h2>
                Direct payment from consumers
            </h2>
            <p>
                In fact, VAILO serves as a direct digital link between companies and customers. The cost of using the bridge/link is straightforward, transparent, and reasonable; it is only determined by the value of the transaction. There is no fee or holding of funds in between. Whatever customers pay goes straight to your account. Enjoy your freedom from the grip of digital solutions that demand clients' money to travel through them. It is your business and your money.

            </p>
        </div>
        <!-- <div class="directCommerceSecondRight1"> -->
        <div class="directCommerceSecondRight">

            <div class="directComSecondRightImg">
                <img src="{% static 'img/direactCommerce3.png' %}" alt="">
            </div>
        </div>
    <!-- </div> -->
    </div>

    <div class="directCommerceSecond">

        <div class="directCommerceSecondRight">
            <div class="directComSecondRightImg">
                <img src="{% static 'img/direactCommerce4.png' %}" alt="">
            </div>
        </div>

        <div class="directCommerceSecondLeft">
            <h2>
                Direct Promotions
            </h2>
            <p>
              VAILO enables you to deliver a fully tailored offer or campaign to a single, targeted customer. Mass offers and shooting in the dark can be avoided.
            </p>
        </div>
    </div>

    <div class="directCommerceSecond columReverse">
        <div class="directCommerceSecondLeft">
            <h2>
                Digital divide to Digital democracy
            </h2>
            <p>
                Technology acceptance for everyday trade is advancing quickly, much like technology innovation. While
                generally positive, this movement is also widening the digital divide among firms since many cannot keep
                up with the rate at which technology is being adopted and because many cannot afford it. A platform
                offered by VAILO would effectively close this gap and lead enterprises toward digital democracy by
                levelling the playing field and making it accessible to everybody. Businesses can use the VAILO platform
                without being concerned about the technological challenges that lie ahead.
            </p>
        </div>
        <div class="directCommerceSecondRight">
            <div class="directComSecondRightImg">
                <img src="{% static 'img/direactCommerce5.png' %}" alt="">
            </div>
        </div>
    </div>


</section>

{% endblock body %}