{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .bg1 {
        background: url("{% static 'img/serviceImgBgSide.png' %}") no-repeat;
    }
</style>

{% endblock header %}





{% block body %}





<div class="bg1">
    <div class="section2" style="    margin: 0 90px;align-items: baseline;">


        <div class="sectionOneMainDIv" style="padding: 30px 0">
            <div class="sectionImgLeft">
                <div class="sectionMainOne">
                    <span style="display: flex; flex-direction: row; gap: 15px;">
                        <h1>
                            Direct Commerce

                        </h1>
                    </span>
                    <h2 style="font-size: 32px; line-height: 43.65px;">
                        Empowering everyone - Digital Divide to Digital Democracy
                    </h2>

                </div>



            </div>
            <div class="sectionImgRight">
                <img src="{% static 'img/directcommerceImgMain.png' %}" alt="">
            </div>
        </div>


    </div>
</div>

<div class="section2add" style="position: relative;">
    <span style="width: 100%;position: absolute;right: -90px;">
        <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
    </span>
    <p>
        Consumer commerce has rapidly evolved from traditional brick-and-mortar stores to encompass digital capabilities
        and an online presence. Numerous sellers who lacked an online presence were taken advantage of by aggregators,
        leading to a decline in their earnings. Brillion1 is an innovative platform revolutionizing business
        transactions through seamless direct commerce for enterprises.

    </p>
    <span style="width: 100%;position: absolute;z-index: 111;bottom: 30px;left: -90px;">
        <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
    </span>
</div>


<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection" style="padding-left: 0 !important;width: 45%;">

        <p>Integration of the messaging platform into the e-commerce landscape, allows businesses to directly engage
            with customers and facilitate transactions within the chat interface. This innovative approach transforms
            WhatsApp into a powerful sales channel, enabling customers to browse products, inquire about details, and
            make purchases without leaving the messaging app. By integrating WhatsApp into direct commerce operations,
            companies can establish a direct and instant communication channel with customers, fostering a more
            personalized and efficient shopping experience.</p>

    </div>

    <div class="dcTwoRightSection" style="width: 45%; height: 440px;">
        <img style="width: auto;;" src="{% static 'img/dcImgOne.png' %}" alt="">
    </div>

</div>


<div class="mainDcSection">

    <div class="dcTwoRightSection widthThirty heightthreeHOne">
        <img src="{% static 'img/dcImgTwo.png' %}" alt="" style="width: 100% !important;object-position: left;">
    </div>
    <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">

        <!-- <div class="campaignsubDiv"> -->
        <h2>Direct reach to your Customers</h2>
        <p style="font-size: 16px;">
            People are progressively spending more time online than inthe real world. They also expect to benefit from
            digital experiences, such aseasy access to information and seamless shopping. With the help of Brillion1,you
            can share a single catalogue with online and physical customers. Offlineactivities can also be digitised
            with a QR code, giving customers an onlineexperience.
        </p>
        <!-- </div> -->




    </div>

</div>

<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">

        <!-- <div class="campaignsubDiv"> -->
        <h2>Direct Access To Customers</h2>
        <p style="font-size: 16px;">
            By utilizing the widely usedmessaging platform, businesses can instantly communicate with customers,offering
            them information, resolving their inquiries, and even enablingtransactions right within the chat interface.
            This direct connection improvescustomer engagement, creating a more individualized and prompt interaction.

        </p>
        <!-- </div> -->




    </div>

    <div class="dcTwoRightSection widthThirty heightthreeHOne">
        <img src="{% static 'img/dcImgThree.png' %}" alt="" style="width: 100% !important;">
    </div>

</div>

<div class="mainDcSection">

    <div class="dcTwoRightSection widthThirty heightthreeHOne">
        <img src="{% static 'img/dcImgFour.png' %}" alt="" style="width: 100% !important;object-position: left;">
    </div>

    <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">

        <!-- <div class="campaignsubDiv"> -->
        <h2>Direct Payment From Consumers</h2>
        <p style="font-size: 16px;">
            Businesses can send paymentrequests or customers can make direct payments through the chat
            interface.WhatsApp Payments uses UPI for secure and instant money transfers. Thissimplifies the payment
            process and takes advantage of the popularity ofWhatsApp, making it a user-friendly way to conduct financial
            transactions.
        </p>
        <!-- </div> -->




    </div>



</div>

<div class="mainDcSection flexReverce">



    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">

        <!-- <div class="campaignsubDiv"> -->
        <h2>Direct Promotions</h2>
        <p style="font-size: 16px;">
            Businesses can send customizedmessages to potential customers, offering them exclusive deals, discounts,
            orlimited-time offers. Additionally, businesses can create anticipation for theirnew products by sending
            sneak peeks and teasers to customers who have shown interest. </p>
        <!-- </div> -->




    </div>

    <div class="dcTwoRightSection widthThirty heightthreeHOne">
        <img src="{% static 'img/dcImgFive.png' %}" alt="" style="width: 100% !important;">
    </div>



</div>


<div class="mainDcSection">

    <div class="dcTwoRightSection widthThirty heightthreeHOne">
        <img src="{% static 'img/dcImgSix.png' %}" alt="" style="width: 100% !important;object-position: left;">
    </div>

    <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">

        <!-- <div class="campaignsubDiv"> -->
        <h2>Digital Divide To Digital Democracy</h2>
        <p style="font-size: 16px;">
            The digital divide, which refers tothe unequal access and utilization of digital tools, has created a
            noticeabledifference in people's ability to participate in the digital world. WhatsApp,with its widespread
            usage and user-friendly design, has played a crucial partin narrowing these gaps and promoting a more
            inclusive digital environment.

        </p>

        <!-- </div> -->




    </div>





</div>









<div class="bottomAbsolute">
    <a href="{% url 'blogPage' %}">
        <img src="{% static 'img/blogBottomImg.png' %}" alt="">
    </a>
</div>
</div>











{% endblock body %}






{% block script %}

{% endblock script %}


























<script src="./index.js"></script>
</body>

</html>