{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .bg1 {
        background: url("{% static 'img/donationbg.png' %}");
    }
</style>

{% endblock header %}





{% block body %}



<div>

    <div class="bg1">
        <div class="section2" style="margin: 0 90px;align-items: baseline;">


            <div class="sectionOneMainDIv" style="padding: 30px 0">
                <div class="sectionImgLeft">
                    <div class="sectionMainOne">
                        <span style="display: flex; flex-direction: row; gap: 15px;">
                            <h1>
                                Brillion1 Donation

                            </h1>
                            <img src="{% static 'img/headerImgdon.png' %}" alt="" style="width: fit-content;">
                        </span>
                        <h2 style="font-size: 32px; line-height: 43.65px;">
                            Make it easy for your patrons to donate

                        </h2>

                    </div>



                </div>
                <div class="sectionImgRight">
                    <img src="{% static 'img/donationImgMain.png' %}" alt="">
                </div>
            </div>


        </div>
    </div>

    <div class="section2add" style="position: relative;">
        <span style="width: 100%;position: absolute;right: -90px;">
            <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
        </span>
        <p>

            Our platform offers a comprehensive solution tailored specifically for non-governmental organizations (NGOs)
            to maximize their donation collection efforts through WhatsApp. With the ease of initiating conversations on
            WhatsApp, individuals and organizations can seamlessly connect with charitable causes and contribute to
            meaningful initiatives. Leveraging WhatsApp for donations also makes the process easier, more interactive,
            and transparent

        </p>
        <span style="width: 100%;position: absolute;z-index: 111;bottom: 30px;left: -90px;">
            <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
        </span>
    </div>


    <div class="mainDcSection flexReverce">


        <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">


            <p>
                Organizations can share donation requests or fundraising campaigns directly through WhatsApp messages,
                allowing supporters to contribute with just a few clicks.

            </p>
            <!-- <div class="dcOneLeftSection marginZero" style="width: 57% !important;">
                                <h3>Brillion1 Ticket</h3> -->
            <ul>
                <li>
                    WhatsApp's multimedia features enable the inclusion of images, videos, and
                    compelling stories to create a more engaging and emotionally resonant appeal for
                    donations.
                </li>
                <li>
                    NGOs can share links to secure payment platforms or integrate payment
                    functionalities within the WhatsApp chat to streamline the donation process.

                </li>
                <li>
                    NGOs can use WhatsApp to share updates and impact stories, keeping donors
                    informed and engaged. This ongoing communication builds a sense of community
                    and encourages continued support.

                </li>



            </ul>

        </div>
        <div class="dcTwoRightSection widthThirty">
            <img id="myImage1D" src="{% static 'img/donationImg1D.png' %}" alt="">
        </div>


    </div>







    <div class="mainDcSection">
        <span style="width: 100%;text-align: center;">
            <h2 style="text-align: center; font-size: 32px;">NGOs can leverage Brillion1 platform for</h2>

        </span>
        <div class="dcTwoRightSection widthThirty heightthreeH">
            <img id="myImage2D" src="{% static 'img/donationImg2.1D.png' %}" alt="" style="width: 100% !important;">
        </div>
        <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">
            <div class="campaignsubDiv campaignsubDivBg">
                <h3>Engagement Awareness</h3>
                <p>
                    NGOs can use WhatsApp to share info, stories, and updates, using engaging content to inspire
                    potential contributors.
                </p>
            </div>
            <div class="campaignsubDiv">
                <h3>Personalized Communication</h3>
                <p>
                    NGOs can send personalized messages to thank donors, provide receipts, and update them on fund
                    usage. This builds trust and encourages continued support.
                </p>
            </div>
            <div class="campaignsubDiv">
                <h3>Fundraising Campaigns</h3>
                <p>
                    Use WhatsApp for targeted fundraising campaigns. Share donation links, set goals, and track progress
                    in real time.
                </p>
            </div>




        </div>



    </div>

    <div class="mainDcSection flexReverce">
        <span style="width: 100%;text-align: center;">
            <h2 style="text-align: center; font-size: 32px;"></h2>

        </span>

        <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">
            <div class="campaignsubDiv campaignsubDivBg">
                <h3>Easy Payment Options</h3>
                <p>
                    Brillion1 integrates payment gateways with direct payment links within WhatsApp messages,
                    simplifying the donation process for NGOs.
                </p>
            </div>
            <div class="campaignsubDiv">
                <h3>Donation Types</h3>
                <p>
                    Brillion1 allows NGOs to define donation types and collect both predefined and general donations.
                </p>
            </div>





        </div>

        <div class="dcTwoRightSection widthThirty heightthreeH">
            <img id="myImage4D" src="{% static 'img/donationImg4.1D.png' %}" alt="" style="width: 100% !important;">
        </div>

    </div>

    <div class="mainDcSection">
        <span style="width: 100%;text-align: center;">
            <h2 style="text-align: center; font-size: 32px;">Brillion1 helps NGOs strengthen their relationship with
                their Patrons</h2>

        </span>
        <div class="dcTwoRightSection widthThirty heightthreeH">
            <img id="myImage3D" src="{% static 'img/donationImg3.1D.png' %}" alt="" style="width: 100% !important;">
        </div>

        <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">
            <div class="campaignsubDiv campaignsubDivBg">
                <h3>Enhancing NGO-Patron Connectivity</h3>
                <p>
                    We provide a user-friendly interface within WhatsApp, empowering NGOs to communicate various
                    donation options directly to their patrons.
                </p>
            </div>
            <div class="campaignsubDiv">
                <h3>Choice Empowerment and Direct Donations</h3>
                <p>
                    Brillion1 offers various donation options, including a direct WhatsApp donation process that sends
                    funds straight to the NGO's bank account.
                </p>
            </div>

            <div class="campaignsubDiv">
                <h3>Automated Confirmation and Receipts</h3>
                <p>
                    Brillion1 generates automated receipts after successful donations via WhatsApp. These receipts can
                    be used for tax benefits.
                </p>
            </div>





        </div>



    </div>


    <!-- 
    <div class="mainDcSection">
        <span style="width: 100%;text-align: center;">
            <h2 style="text-align: center; font-size: 32px;">Brillion1 helps NGOs strengthen their relationship with
                their Patrons</h2>

        </span>
        <div class="dcTwoRightSection widthThirty">
            <img id="myImage3D" src="{% static 'img/donationImg3.1D.png' %}" alt="" style="width: 100% !important;">
        </div>
        <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">
            <div class="campaignsubDiv campaignsubDivBg">
                <h3>Enhancing NGO-Patron Connectivity</h3>
                <p>
                    We provide a user-friendly interface within WhatsApp, empowering NGOs to communicate various
                    donation options directly to their patrons.
                </p>
            </div>
            <div class="campaignsubDiv">
                <h3>Choice Empowerment and Direct Donations</h3>
                <p>
                    Brillion1 offers various donation options, including a direct WhatsApp donation process that sends
                    funds straight to the NGO's bank account.
                </p>
            </div>





        </div>



    </div> -->



    <div class="mainDcSection flexReverce">
        <span style="width: 100%;text-align: center;">
            <h2 style="text-align: center; font-size: 32px;"></h2>

        </span>

        <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">
            <div class="campaignsubDiv campaignsubDivBg">
                <h3>Catalyzing Social Sharing</h3>
                <p>
                    Brillion1 allows donors to share the donation link through WhatsApp, promoting advocacy and
                    community-driven fundraising and awareness.
                </p>
            </div>
            <div class="campaignsubDiv">
                <h3>Seamless Access to Donation History</h3>
                <p>
                    Patrons can access their donation history within WhatsApp, review past donations, and download
                    receipts for record-keeping.

                </p>
            </div>






        </div>

        <div class="dcTwoRightSection widthThirty heightthreeH">
            <img id="myImage5D" src="{% static 'img/donationImg5.1D.png' %}" alt="" style="width: 100% !important;">
        </div>

    </div>







    <div class="sectionParagraph">
        <p style="font-size: 16px; line-height: 21.82px;">
            Brillion1’s platform leverages WhatsApp's end-to-end encryption ensuring that sensitive donor data remains
            secure during communication, thereby enhancing trust and confidence among supporters. It is also crucial for
            NGOs to adhere to relevant regulations and guidelines while soliciting donations. Ensuring compliance with
            local laws and communicating the organization's legal status and donation policies via WhatsApp is
            essential.
        </p>
    </div>



</div>





<script>

    var imageElements = [
        document.getElementById('myImage1D'),
        document.getElementById('myImage2D'),
        document.getElementById('myImage3D'),
        document.getElementById('myImage4D'),
        document.getElementById('myImage5D'),


    ];

    var imagePaths = [
        [
            "{% static 'img/donationImg2D.png' %}",
            "{% static 'img/donationImg3D.png' %}",
            "{% static 'img/donationImg1D.png' %}",
        ],
        [
            "{% static 'img/donationImg2.2D.png' %}",
            "{% static 'img/donationImg2.3D.png' %}",
            "{% static 'img/donationImg2.1D.png' %}",
        ],
        [
            "{% static 'img/donationImg3.2D.png' %}",
            "{% static 'img/donationImg3.3D.png' %}",
            "{% static 'img/donationImg3.1D.png' %}",
        ],
        [
            "{% static 'img/donationImg4.2D.png' %}",
            // "{% static 'img/donationImg4.3D.png' %}",
            "{% static 'img/donationImg4.1D.png' %}",
        ],
        [
            "{% static 'img/donationImg5.2D.png' %}",
            // "{% static 'img/donationImg5.3D.png' %}",
            "{% static 'img/donationImg5.1D.png' %}",
        ],



    ];

    var currentIndex = [0, 0, 0, 0, 0];

    // Change the images every 5 seconds
    setInterval(function () {
        for (var i = 0; i < imageElements.length; i++) {
            imageElements[i].src = imagePaths[i][currentIndex[i]];
            currentIndex[i] = (currentIndex[i] + 1) % imagePaths[i].length;
        }
    }, 3000);
</script>






{% endblock body %}






{% block script %}

{% endblock script %}


























<script src="./index.js"></script>
</body>

</html>