{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .donationSectionOne {
    background: url("{% static 'img/donationBgImg.png' %}");
}
</style>

{% endblock header %}





{% block body %}


    <div>
        <div class="donationSectionOne">
            <h2 style="color: #fff">Donation</h2>
            <!-- <p style="color: #fff; padding: 20px;">
                I would love to share with you guys my recent work Beauty Product Website Design. Hope
            </p> -->

        </div>



        <div class="mainDcSection">


            <div class="dcOneLeftSection">
                <h3>Donation platform</h3>

                <p>
                    Vailo Donation Service on WhatsApp! We're excited to provide you with a convenient and efficient way to manage your donations. Whether you're looking for an easy platform for your NGO, we offer a donation collection platform through WhatsApp, designed to save your time and energy. You can make unlimited modifications through our self-service portal.
                </p>
            </div>
            <div class="dcTwoRightSection widthThirty">
                <img src="{% static 'img/DonationOneImg.png' %}" alt="">
            </div>
        </div>


        <div class="mainDcSection">

            <div class="dcTwoRightSection">
                <img src="{% static 'img/donationtwoImg.png' %}" alt="">
            </div>
            <div class="dcOneLeftSection">
                <h3>Donation dashboard</h3>

                <p>
                    You can easily collect donations through WhatsApp and access donor information, along with the total donation amount, on the dashboard. If a donor clicks on the 'Contact Us' button, you will receive a notification on WhatsApp.
                </p>


            </div>
        </div>

        <div class="mainDcSection">


            <div class="dcOneLeftSection">
                <div>
                    <h3>Donation through whatsapp</h3>
                </div>
                <div>
                    <div class="imgDcOneLeftSection">

                        <img src="{% static 'img/listMark.png' %}" alt="">
                    </div>
                    <p>
                        Donors need to click on the provided link or scan the QR code and start a conversation.
                    </p>
                </div>
                <div>
                    <div class="imgDcOneLeftSection">

                        <img src="{% static 'img/listMark.png' %}" alt="">
                    </div>
                    <p>
                        Select the specific donation type.
                    </p>
                </div>
                <div>
                    <div class="imgDcOneLeftSection">

                        <img src="{% static 'img/listMark.png' %}" alt="">
                    </div>
                    <p>
                        Share their information, including the donor's name, and optionally, their PAN card, email address, Comment.
                    </p>
                </div>
                <div>
                    <div class="imgDcOneLeftSection">

                        <img src="{% static 'img/listMark.png' %}" alt="">
                    </div>
                    <p>
                        Complete the donation process.
                    </p>
                </div>
                <div>
                    <div class="imgDcOneLeftSection">

                        <img src="{% static 'img/listMark.png' %}" alt="">
                    </div>
                    <p>
                        After the payment is successfully completed, donors will receive a confirmation message along with an invoice in PDF format.
                    </p>
                </div>
                <div>
                    <div class="imgDcOneLeftSection">

                        <img src="{% static 'img/listMark.png' %}" alt="">
                    </div>
                    <p>
                        If the payment fails, the donor will receive a payment failure message.
                    </p>
                </div>
                <div>
                    <div class="imgDcOneLeftSection">

                        <img src="{% static 'img/listMark.png' %}" alt="">
                    </div>
                    <p>
                        Donors can view their previous donations by clicking on "My Donations,"
                    </p>
                </div>
                <div>
                    <div class="imgDcOneLeftSection">

                        <img src="{% static 'img/listMark.png' %}" alt="">
                    </div>
                    <p>
                        Donors have the option to know additional information about the NGO created by the NGO through vailo.ai.
                    </p>
                </div>

            </div>
            <div class="dcTwoRightSection">
                <img src="{% static 'img/donationThreeImg.png' %}" alt="">
            </div>

        </div>


      
    </div>

    {% endblock body %}






    {% block script %}
    
    {% endblock script %}


    























    <script src="./index.js"></script>
</body>

</html>