{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .bg1 {
        background: url("{% static 'img/serviceImgBgSide.png' %}") no-repeat;
    }
</style>
{% endblock header %}





{% block body %}


<div class="bg1">
    <div class="section2" style="    margin: 0 90px;align-items: baseline;">


        <div class="sectionOneMainDIv" style="padding: 30px 0">
            <div class="sectionImgLeft">
                <div class="sectionMainOne">
                    <span style="display: flex; flex-direction: row; gap: 15px;">
                        <h1>
                            Pricing Matters

                        </h1>
                        <img src="{% static 'img/headerImgDip.png' %}" alt="" style="width: fit-content;">
                    </span>
                    <h2 style="font-size: 32px; line-height: 43.65px;">
                        Fair pricing to ensure you stay competitive in the business
                    </h2>

                </div>



            </div>
            <div class="sectionImgRight">
                <img src="{% static 'img/priceImg1.png' %}" alt="">
            </div>
        </div>


    </div>
</div>

<div class="section2add" style="position: relative;">
    <span style="width: 100%;position: absolute;right: -90px;">
        <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
    </span>
    <p>
        Digital transactions are growing exponentially in India and are gradually becoming mainstay channel of commerce
        for many enterprises and small businesses alike. The diversity of India brings together some unique challenges
        to digital adoption but solutions that are simple, scalable and designed with local considerations in mind have
        been able to make a mark in this growing market.

        <br>
        <br>
        Whatsapp with its 450M+ strong user base, is the leading social media messaging platform in the market today.
        While a late entrant in the enterprise circuit, Whatsapp with it’s simple yet intuitive interface is gaining
        traction among businesses to leverage it as a low-cost vector for customer engagement and customer experience.
        In a diverse population such as India, where traditional digital channels like Web and mobile apps have limited
        reach outside the urban / educated population, WhatsApp’s simple interface offers tremendous possibilities for
        solving many of the customer connect challenges that businesses are facing. The Covid pandemic has further
        cemented Whatsapp as an alternate channel for customer engagement.

    </p>
    <span style="width: 100%;position: absolute;z-index: 111;bottom: 50px;left: -90px;">
        <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
    </span>
</div>




<div>



    <div class="mainDcSection">

        <div class="dcOneLeftSection widthSixty" style="padding: 10px !important;">

            <h2 style="font-size: 20px;">
                Value-Based Pricing Model
            </h2>
            <p>
                At Brillion1, transparency and delivering value drive our pricing strategy. We've structured our pricing
                plans to cater to diverse business needs, ensuring flexibility, scalability as you grow, and alignment
                with your business requirements.
            </p>
        </div>
        <div class="dcTwoRightSection widthThirty flexEnd" style="display: flex;">
            <img id="myImage1" src="{% static 'img/pricingImg1.png' %}" alt="">
        </div>
    </div>


    <div class="serviceContiner">
        <div class="container">
            <h2 style="font-size: 32px;">
                Platform Services - Flexible Packages
            </h2>
            <p style="padding:10px 0 !important;">
                We offer a range of flexible packages tailored to suit businesses of all sizes. Whether you're a
                startup, a growing enterprise, or an established corporation, our pricing plans are crafted to
                accommodate your specific needs and scale with your growth.
            </p>
        </div>
    </div>


    <div class="section2">
        <span class="serviceContiner">
            <span class="container">
                <p>
                    We offer subscription-based platform services in three distinct options:

                </p>
            </span>
        </span>


        <div class="flexImgLanPricig">
            <img src="{% static 'img/pricingImg2.png' %}" alt="img14New">
            <img src="{% static 'img/pricingImg3.png' %}" alt="img15New">
            <img src="{% static 'img/pricingImg4.png' %}" alt="img16New">
            <img src="{% static 'img/pricingImg5.png' %}" alt="img16New">
        </div>

        <p style="text-align: left;    width: -webkit-fill-available;">Vary based on the platform used.</p>


    </div>


    <div class="serviceContiner">
        <div class="container">
            <h2 style="font-size: 32px;">
                Custom Solutions
            </h2>
            <p style="padding:10px 0 !important;">
                Recognizing that each business has its unique demands, we provide customizable solutions that allow you
                to choose the features and services that align precisely with your goals. This flexibility ensures that
                you only pay for what you need, optimizing your investment. Estimates are provided through phased
                approaches tied with deliverables and milestones.

            </p>
        </div>
    </div>




    <div class="mainDcSection">


        <div class="dcOneLeftSection" style="width: 100%;padding: 70px;">
            <div style="display: inline;text-align: center;">
                <h2 style="font-size: 32px;">Pricing principles</h2>
            </div>
            <div style="padding: 10px; ">
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 20px;">
                        Transparent And Predictable Costs
                    </h2>
                    <p>
                        Clear, predictable costs empower informed decision-making without hidden fees or surprises.

                    </p>
                </span>
            </div>

            <div style="padding: 10px; ">
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 20px;">
                        Value-Added Benefits
                    </h2>
                    <p>
                        Dedicated support, regular updates, and cutting-edge technology accompany our services, offering
                        more than just monetary value. </p>
                </span>
            </div>

            <div style="padding: 10px; ">
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 20px;">
                        Consultative Approach

                    </h2>
                    <p>
                        We work closely with you, understanding your requirements, to create pricing plans that maximize
                        the value you receive.
                    </p>
                </span>
            </div>





        </div>
    </div>

    <div class="serviceContiner">
        <div class="container">
            <h2 style="font-size: 20px;">
                Get in Touch
            </h2>
            <p style="padding:10px 0 !important;">
                Our team is available to discuss your needs and tailor a package that best suits your business
                requirements. Whether you opt for our platform services or require custom solutions, we're here to
                ensure your needs are met effectively. <br>
                <br>
                For a detailed breakdown of the features and benefits under each mode and to discuss pricing based on
                your specific usage and requirements, please reach out to our team for a personalized consultation.
            </p>
        </div>
    </div>



</div>




{% endblock body %}






{% block script %}

{% endblock script %}