{% extends "vailo.html" %}
{% load static %}


{% block title %}vailo.ai-FAQ's {% endblock title %}

{% block body %}

<section style="margin-top: 100px;">

    <h2>Data Security and Privacy Policy</h2>
<br>
    <article style="margin-bottom: 30px !important;">
      
       
        <p><b>Brillion.one</b>  ("us", "we", or "our") operates the https://Brillion.one.ai/ website and provide bot services via Brillion.one Platform (referred to as the "Service" in this policy).
            
            <br>
            This Privacy Notice describes how and why we collect and use personal data (i.e. data relating to an identified or identifiable individual) in the course of its business. It applies to personal data provided directly to us by the individuals concerned and to personal data provided to us by companies and other organisations.
            <br>
            <br>
            We are committed to the protection of personal data and to fair and transparent processing. If you have any questions about this Privacy Notice, you can contact our Data Protection Officer via email(                  ) [at] Brillion.one.ai
              <br>

              We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this notice. Unless otherwise defined in this Privacy Notice, the terms used in this notice have the same meanings as in our Terms and Conditions, accessible from<a href="https://vailo.ai/"
              style="color: blue;"> https:/Brillion.one/</a>
          

         
        
        </p><br><br>


        <h3>Security of personal data</h3>

        <br>
        <p>
            We have policies, procedures and training in place in respect of data protection, confidentiality and information security. We regularly review such measures with the objective of ensuring their continuing effectiveness. The Privacy Notice was last updated on 11 Oct 2023.
        </p>
       
     <br>
     <br>

        <h3>Information Collection and Use</h3>
        <br> 
        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:
        </p><br>
        
        •	Email address

            <br>
            •	First name and last name

            <br>
            •	Phone number

            <br>
            •	Address, State, Province, ZIP/Postal code, City
            <br>

            •	Cookies and Usage Data
            <br>
           <p>
            We may also collect information on how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
           </p>

<br>
<br>
        <h3>Tracking & Cookies Data</h3>
        <br>
<p>
    We use cookies and similar tracking technologies to track the activity on our Service and hold certain information. Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyse our Service.
</p>
<br>
<p>
    You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
</p>
<br>

    
        <ul>
            <li>
                • Session Cookies: We use Session Cookies to operate our Service.
            </li>
            <br>
            <li>
                • Security Cookies: We use Security Cookies for security purposes.
            </li>
            <br>
            <p>Brillion uses the collected data for below purposes:</p>
            <br>
            <li>
                • To provide and maintain the Service
            </li>
            <br>
            <li>
                • To notify you about changes to our Service
            </li>
            <br>
            <li>
                • To allow you to participate in interactive features of our Service when you choose to do so
            </li>
            <br>
            <li>
                • To provide customer care and support
            </li>
            <br>
            <li>
                • To monitor the usage of the Service
            </li>
            <br>
            <li>
                • To detect, prevent and address technical issues
            </li>
        </ul>
    

   


       
<br><br>


        <h3>Provision of personal data to third parties</h3>
        <br>
        <p>We will only share personal data with third parties where we are legally permitted to do so. We do not provide information to third parties for their own marketing purposes and we do not undertake mailings for third parties. Where we transfer personal data to third parties, we will put in place appropriate contractual arrangements and seek to ensure that there are appropriate technical and organisational measures in place to protect personal data. We may provide personal data to:</p>
        <ul>
            <li>
                • Third parties involved in the performance of services – we may also share personal data to third party organisations who assist us in providing services to clients or are otherwise involved in the services we provide to clients.
            </li>
            <li>
                •	Third parties who provide IT services, data processing or functionality – we use third party providers to support our business and the provision of services to our clients, such as cloud-based software providers, web hosting/management providers, data analysis providers, and data back-up and security/storage providers. We may transfer personal data to such third parties.
            </li>
            <li>
                •	We use third-party Service Providers to monitor and analyse the use of our Service. Google Analytics is a web analytics service provider to us, relevant privacy policy is available here.
            </li>
            <li>
                •	Auditors and advisers – we may transfer personal data to our auditors and advisers as required by law or as reasonably required in the management of our business.
            </li>
            <li>
                •	Third parties where required by applicable law and regulation – we may be requested or compelled to disclose personal data to third parties such as regulators and law enforcement agencies. We will only provide personal data to such parties where there is a legal requirement or permission to do so
            </li>
           
        </ul>


        <br><br>


        <h3>International transfer of personal data</h3>
        <br>
        <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction
        </p><br>
        <p>
            If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to India and process it there. Your consent to this Privacy Notice followed by your submission of such information represents your agreement to that transfer.
        </p><br>
        <p>
            We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Notice and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.   
        </p>
<br>
<br>
        <h3>Your Rights</h3>
        <br>
        <p>You have rights in relation to any of your personal data held by us as a data controller. Should you wish to exercise your rights, please contact our Data Protection Officer via email at (email) [at] Brillion.one.ai. We will endeavour to respond to any request promptly and within any legally required time limit.
        </p><br>
        <p>
            Where we process your personal data based on your consent, you have a right to withdraw consent at any time. Should you wish to do so, please contact our Data Protection Officer via email at (email) [at] Brillion.one.ai.
        </p><br>
        <p>
            Finally, in addition to the rights above, you may also have other rights in relation to personal data, including a right to erasure/deletion, the right to data portability and the right to restrict and/or object to our processing of personal data.
        </p>
        <br>
        <br>

        <h3>Data Retention</h3>
        <p>We will only keep personal data for as long as necessary for the purposes for which it was collected, or as required by applicable law or regulation.

        </p><br>
        <p>
            Unless there are any overriding legal, regulatory or contractual requirements, we will retain records of services provided (which may include personal data) in accordance with our document retention policy.
        </p>
<br><br>

        <h3>Links to Other Sites</h3>
        <br>
        <p>Our service may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.

        </p><br>
        <p>
            We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.
        </p>
        <br><br>

        <h3>Children's Privacy</h3>
        <br>
        <p>Our Service does not address anyone under the age of 18 ("Children"). We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.
        </p>
        <br>
        <p>
            By agreeing to this privacy notice and proceeding to chat using our bots, you confirm that you are over the age of 18.

        </p>
        <br><br>

        <h3>Information Security</h3>
        <br>
        <p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, storage and processing practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized access to systems where we store personal data.

        </p><br>
        <p>
            All information gathered on Brillion.one is securely stored within the Brillion.one controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet. And, of course, any information you include in a posting to the discussion areas is available to anyone with Internet access.
        </p>
        <br>
        <p>
            However the internet is an ever evolving medium. We may change our privacy policy from time to time to incorporate necessary future changes. Of course, our use of any information we gather will always be consistent with the policy under which the information was collected, regardless of what the new policy may be.
        </p>
        <br>
        <p>
            We use third-party advertising companies to serve ads when you visit our Web site. These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you. Any complaints or concerns with regards to content or to report any abuse of laws or breach of these terms may be taken up with our Data Protection Officer via email at (                 )[at] Brillion.one.ai.
        </p>
        <br><br>

        <h3>Your California Privacy Rights</h3>
        <br>
        <p>Brillion.one Technologies Limited does not sell, trade, or otherwise transfer to outside third parties your “Personal Information” as the term is defined under the CCPA. Additionally, CCPA permits Users of our Website, App, or Platform that are California residents to request certain information regarding our disclosure of their Personal Information to third parties for their direct marketing purposes. To make a request for such disclosure, or identification and/or deletion of Personal Information in all our systems that we store on you, please send an email to infosec@Brillion.one.ai or write us at Brillion.one Technologies Limited, , 3rd Floor 15th Main, 15th Cross Rd, Sector 4, HSR Layout, Bengaluru, Karnataka 560102
        </p><br>
        <p>
            Note that (i) if we delete your Personal Information as requested, we will no longer be able to provide our services to you and (ii) we may need to keep such Personal Information for a while during the shutting down and billing process. If you would like to discuss our Personal Information storage and processing process with us, please send us an email at infosec@Brillion.one.ai or write us at Brillion.one Technologies Limited, 3rd Floor 15th Main, 15th Cross Rd, Sector 4, HSR Layout, Bengaluru, Karnataka 560102
        </p>
        <br>
        <h3>Changes to This Privacy Policy</h3>
        <p>We may update our Privacy Notice from time to time. We will notify you of any changes by posting the new Privacy Notice on this page. Changes to this Privacy Notice are effective when they are posted on this page.
        </p><br><br>


        <h3>Contact Us</h3>
        <br>
        <p>If you have any questions about Our Company’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us by email: infosec [at] 
        </p><br>
        <p>
            Last updated on: <b> October 2023</b>
        </p>



    </article>
</section>
{% endblock body %}


{% block script %}
<script>
    const toggleBtn = document.querySelectorAll('.toggle-btn');

    toggleBtn.forEach(btn => {
        btn.addEventListener('click', () => {
            btn.parentNode.classList.toggle('active')  //only toggles the parent node which is the '.faq-card' here
        })
    })
</script>

{% endblock script %}