{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<!-- <style>
    .aboutSectionOne {
        background: url("{% static 'img/aboutImgBg.png' %}");
    }
</style> -->

{% endblock header %}





{% block body %}

<div class="bg1">
    <div class="section2" style="    margin: 0 90px;align-items: baseline;">


        <div class="sectionOneMainDIv" style="padding: 30px 0">
            <div class="sectionImgLeft">
                <div class="sectionMainOne">
                    <span style="display: flex; flex-direction: row; gap: 15px;">
                        <h1>
                            Reach Billions and Beyond

                        </h1>
                    </span>
                    <h2 style="font-size: 32px; line-height: 43.65px;">
                        You can reach more in the connected world
                    </h2>

                </div>



            </div>
            <div class="sectionImgRight">
                <img src="{% static 'img/reachImgMain.png' %}" alt="">
            </div>
        </div>


    </div>
</div>


<div class="section2add" style="position: relative;">
    <span style="width: 100%;position: absolute;right: -90px;">
        <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
    </span>
    <p>

        As businesses increasingly embrace digital transformation, WhatsApp serves as a pivotal channel for customer
        service, marketing, and even sales. WhatsApp's widespread adoption, combined with its versatile features,
        positions it as a gateway for businesses to reach billions of users globally. By harnessing the power of the
        platform, businesses can not only extend their reach but also build meaningful relationships, drive engagement,
        and ultimately propel their growth in the digital era.

    </p>
    <span style="width: 100%;position: absolute;z-index: 111;bottom: 30px;left: -90px;">
        <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
    </span>
</div>


<div class="mainDcSection">


    <div class="dcOneLeftSection" style="padding-left: 0; width: 50%;">


        <p>
            Effective communication is paramount in the realm of business, serving as a linchpin for success across
            various dimensions. At its core, communication is the bedrock upon which relationships with clients and
            customers are built. Businesses rely on communication to engage with customers and clients. Compelling and
            clear messaging builds brand identity, loyalty, and trust. Through marketing communications, companies
            convey the value proposition of their products or services, influencing purchasing decisions. Additionally,
            responsive and transparent communication in customer service builds positive relationships and addresses
            concerns promptly, contributing to customer satisfaction and retention.
            <br>

            WhatsApp has emerged as a powerful communication channel for businesses, providing a versatile platform for
            real-time interaction, engagement, and customer relationship management. With over 2 billion monthly active
            users globally, the platform's ubiquity makes it an attractive channel for businesses to connect with their
            audience. The messaging app offers several features that enhance communication in a business context. Its
            robust end-to-end encryption ensures the security and privacy of messages, particularly crucial for
            sensitive or personal conversations. During the COVID-19 pandemic, WhatsApp played a pivotal role in remote
            learning and remote work, enabling teachers, students, and employees to communicate, share resources, and
            collaborate from a distance.


        </p>


    </div>

    <div class="dcTwoRightSection" style="display: flex;">
        <img id="myImage1A" style="width: 100% !important;" src="{% static 'img/reachOne.png' %}" alt="">
    </div>

</div>


<div class="mainDcSection">



    <div class="dcTwoRightSection" style="display: flex;">
        <img id="myImage1A" style="width: 100% !important; object-position: left;" src="{% static 'img/reachTwo.png' %}"
            alt="">
    </div>

    <div class="dcOneLeftSection" style="padding-left: 0; width: 50%;">


        <p>
            Effective communication is paramount in the realm of business, serving as a linchpin for success across
            various dimensions. At its core, communication is the bedrock upon which relationships with clients and
            customers are built. Businesses rely on communication to engage with customers and clients. Compelling and
            clear messaging builds brand identity, loyalty, and trust. Through marketing communications, companies
            convey the value proposition of their products or services, influencing purchasing decisions. Additionally,
            responsive and transparent communication in customer service builds positive relationships and addresses
            concerns promptly, contributing to customer satisfaction and retention.
            <br>

            WhatsApp has emerged as a powerful communication channel for businesses, providing a versatile platform for
            real-time interaction, engagement, and customer relationship management. With over 2 billion monthly active
            users globally, the platform's ubiquity makes it an attractive channel for businesses to connect with their
            audience. The messaging app offers several features that enhance communication in a business context. Its
            robust end-to-end encryption ensures the security and privacy of messages, particularly crucial for
            sensitive or personal conversations. During the COVID-19 pandemic, WhatsApp played a pivotal role in remote
            learning and remote work, enabling teachers, students, and employees to communicate, share resources, and
            collaborate from a distance.


        </p>


    </div>


</div>


<div class="section3" style="margin: 0 90px;">
    <h2 style="font-size: 32px;
    align-items: center;
    justify-content: center;">Use Cases of WhatsApp Business API</h2>
</div>
<div class="mainDcSection" style="margin-top: 40px;">


    <div class="dcOneLeftSection" style="padding-left: 0 !important; width: 50%;">



        <!-- <div class="dcOneLeftSection marginZero" style="width: 57% !important;">
                            <h3>Brillion1 Ticket</h3> -->
        <ul>
            <li>
                Businesses, including healthcare providers, NGOs, and event organizers, can automate appointment
                scheduling, allowing customers to donate and book appointments based on availability.
            </li>
            <li>
                Optimize your message delivery by utilizing customer’s preferred channels,
                ensuring prompt opening, reading, and response rates.
            </li>
            <li>
                With the Business API, businesses can enhance customer service, and send updates, and notifications
                to
                their customers, among other capabilities.

            </li>
            <li>
                The WhatsApp Business API offers features such as quick replies, reply buttons, and template
                messages to
                improve the customer experience.
            </li>
            <li>
                Customers can seamlessly and quickly book appointments, purchase event tickets, or make donations,
                enhancing their overall satisfaction.
            </li>
            <li>
                We can automate various business processes to meet your customer’s needs, reducing the need for a
                large
                workforce and saving businesses money.
            </li>
            <li>
                Businesses can send order confirmations, status updates, and shipping notifications to customers
                through
                WhatsApp.
            </li>



        </ul>

    </div>
    <div class="dcTwoRightSection flexEnd" style="display: flex;">
        <img id="myImage1D" src="{% static 'img/reachThree.png' %}" alt="">
    </div>


</div>


<div class="bottomAbsolute">
    <a href="{% url 'blogPage' %}">
        <img src="{% static 'img/blogBottomImg.png' %}" alt="">
    </a>
</div>




{% endblock body %}






{% block script %}

{% endblock script %}