{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .bg1 {
        background: url("{% static 'img/serviceImgBgSide.png' %}") no-repeat;
    }
</style>

{% endblock header %}





{% block body %}


<div class="bg1">
    <div class="section2" style="    margin: 0 90px;align-items: baseline;">


        <div class="sectionOneMainDIv" style="padding: 30px 0">
            <div class="sectionImgLeft">
                <div class="sectionMainOne">
                    <span style="display: flex; flex-direction: row; gap: 15px;">
                        <h1>
                            Improved loyalty at Salon
                            Chain

                        </h1>

                    </span>
                    <h2 style="font-size: 32px; line-height: 43.65px;">
                        Driving customer engagement to revolutionize Salon services

                    </h2>

                </div>



            </div>
            <div class="sectionImgRight">
                <img src="{% static 'img/salonIm1.png' %}" alt="">
            </div>
        </div>


    </div>






</div>


<div class="section2add" style="position: relative;">
    <span style="width: 100%;position: absolute;right: -90px;">
        <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
    </span>
    <p>
        Integrating WhatsApp into a salon's operations is a strategic move that aims to modernize customer engagement,
        streamline operations, and improve the overall salon experience. By linking the salon management system with
        WhatsApp, salons can transform the way appointments are booked and communication with clients is conducted.
        Clients can easily schedule appointments, receive confirmations, and make inquiries, all through a familiar and
        convenient platform.
    </p>
    <span style="width: 100%;position: absolute;z-index: 111;bottom: 30px;left: -90px;">
        <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
    </span>
</div>




<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">



        <!-- <div class="dcOneLeftSection marginZero" style="width: 57% !important;">
                            <h3>Brillion1 Ticket</h3> -->
        <p>
            The incorporation of WhatsApp into the functions of a leading salon and beauty chain creates opportunities
            for enhanced customer engagement and improved operational efficiencies in the beauty and personal care
            industry.
        </p>
        <ul>
            <li>
                The vision embodies a seamless fusion of luxury and convenience, creating an unparalleled experience for
                every customer.

            </li>
            <li>
                Within the domain of this esteemed salon chain, every customer is not just a guest, but a valued member
                of an exclusive beauty community.
            </li>
            <li>
                Salons can automate routine queries, providing instant information about services, prices, or available
                appointments.

            </li>




        </ul>

    </div>

    <div class="dcTwoRightSection widthThirty flexEnd">
        <img id="myImage1H" src="{% static 'img/salonImg1.png' %}" alt="">
    </div>

</div>



<div class="section2">
    <h3 style="text-align: center; font-size: 32px;">
        Use cases of Integrating WhatsApp with Salon

    </h3>
</div>


<div class="mainDcSection">
    <div class="dcTwoRightSection widthThirty heightthreeH" style="padding-left: 0 !important;">
        <img src="{% static 'img/salonImg2.png' %}" alt="">
    </div>

    <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">


        <h2 style="font-size: 20px; line-height: 27.28px;font-weight: 600;">
            Automated Appointment Management
        </h2>

        <p>
            Clients can conveniently schedule appointments with the salon using WhatsApp. Automated confirmations and
            reminders are triggered by a single message, ensuring a smooth booking process. This eliminates missed
            appointments and scheduling conflicts, demonstrating the salon's dedication to convenience and reliability.

        </p>


    </div>



</div>
<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">


        <h2 style="font-size: 20px; line-height: 27.28px;font-weight: 600;">
            Ongoing Engagement and Beauty Insights
        </h2>

        <p>
            WhatsApp is not limited to salon visits; it also serves as a means of ongoing communication with customers.
            Through the platform, customers can receive beauty tips, updates, and expert advice tailored to their
            preferences and needs, resulting in a personalized experience.
        </p>


    </div>
    <div class="dcTwoRightSection widthThirty flexEnd heightthreeHOne">
        <img src="{% static 'img/salonImg3.png' %}" alt="">
    </div>


</div>





<div class="mainDcSection">


    <div class="dcTwoRightSection widthThirty heightthreeHOne">
        <img src="{% static 'img/salonImg4.png' %}" alt="">
    </div>
    <div class="dcOneLeftSection widthSixty">
        <h2 style="font-size: 20px; line-height: 27.28px;font-weight: 600;">
            Exclusive Offers and Personalized Promotions
        </h2>

        <p>
            WhatsApp becomes a portal to an exclusive world of beauty, where clients receive personalized offers and
            promotions directly at their fingertips. Tailored to their past appointments and preferences, these offers
            are not just discounts; they are invitations to indulge in an experience curated specifically for them.
        </p>
    </div>

</div>
<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">


        <h2 style="font-size: 20px; line-height: 27.28px; font-weight: 600;">
            Seamless Cross-Selling of Beauty Products
        </h2>

        <p>
            Following their salon visit, clients receive customized product suggestions through WhatsApp—a tailored
            collection of beauty products perfectly matched to their recent experience. Direct purchase links are
            seamlessly embedded within the messages, ensuring a smooth transition from the salon to at-home care.

        </p>


    </div>
    <div class="dcTwoRightSection widthThirty flexEnd heightthreeHOne">
        <img src="{% static 'img/salonImg5.png' %}" alt="">
    </div>


</div>


<div class="bottomAbsolute">
    <a href="{% url 'useCasePage' %}">
        <img src="{% static 'img/useCaseBottom.png' %}" alt="">
    </a>
</div>













{% endblock body %}






{% block script %}

{% endblock script %}


























<script src="./index.js"></script>
</body>

</html>