{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .scannerSectionOne {
    background: url("{% static 'img/scannerBgImg.png' %}");
}
</style>

{% endblock header %}





{% block body %}

<div>
    <div class="scannerSectionOne">
        <h2 style="color: #fff">Scan to Menu</h2>
        <!-- <p style="color: #fff; padding: 20px;">
            I would love to share with you guys my recent work Beauty Product Website Design. Hope
        </p> -->

    </div>



    <div class="mainDcSection">


        <div class="dcOneLeftSection">
            <h3>Restaurant scan to menu</h3>

            <p>
                Vailo Scan-to-Menu is revolutionizing the way dine. By simply scanning a QR code with your smartphone, you can access the restaurant's digital menu instantly through whatsapp. This contactless approach ensures a safer dining experience while providing convenience and efficiency. With vibrant images, detailed descriptions, and real-time updates.
            </p>
        </div>
        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/scannerImgOne.png' %}" alt="">
        </div>
    </div>


    <div class="mainDcSection">

        <div class="dcTwoRightSection">
            <img src="{% static 'img/scannerImgtwo.png' %}" alt="">
        </div>
        <div class="dcOneLeftSection">
            <h3>Restaurant Dashboard</h3>

            <p>
                You are Centralized hub for managing and optimizing your work for your Restaurant Scan to menu. Were you able to easily modify their menus in real-time, adding seasonal offerings, removing out-of-stock items, or adjusting prices. This ensures that customers always have access to the most up-to-date menu and easily generate leads, promotion, campaign, offer.
            </p>


        </div>
    </div>

    <div class="mainDcSection">


        <div class="dcOneLeftSection">
            <div>
                <h3>Whatsapp Scan to Menu</h3>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Save our WhatsApp Restaurant number in your contacts or Scan Q/R Code                    </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Start a conversation with us on WhatsApp.
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Access the digital menu in your Whatsapp
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Explore the Menu and View Dish
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Customize your order
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Add item to your order
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Proceed to checkout, place your order and Make Payments
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Dish will be serve on your table.
                </p>
            </div>

        </div>
        <div class="dcTwoRightSection">
            <img src="{% static 'img/scannerImgTree.png' %}" alt="">
        </div>

    </div>


    <div class="mainDcSection">

        <div class="dcTwoRightSection">
            <img src="{% static 'img/scannerImgFour.png' %}" alt="">
        </div>
        <div class="dcOneLeftSection">
            <h3>To directly get a receipt on your phone</h3>

            <p>
                Scan-to-Menu presents various advantages for restaurants, ranging from improved customer experience and operational efficiency to data-driven insights and branding opportunities. By leveraging this technology, businesses can stay competitive, meet changing customer expectations and drive growth in the increasingly digitalized restaurant industry.
            </p>


        </div>
    </div>

  
</div>



    {% endblock body %}






    {% block script %}
    
    {% endblock script %}


    























    <script src="./index.js"></script>
</body>

</html>