{% extends "vailo.html" %}
{% load static %}

{% block title %}aboutUs{% endblock title %}


{% block header %}

{% endblock header %}





{% block body %}

<br>
<br>


<section class="contactUsVailo" id="directCommercePageVailoId">

    <article style="margin-top: 50px;">
        <!-- <a href="javascript:void(0)" onclick="closeNavDirectCommerce()" class="closeDirectCommerceVailo">&times;</a> -->

        <h3>Why do I need a Vailo?</h3>
        <h4>Be Available 24/7 On all Channels </h4>
        <p>Solve customer queries, any time, anywhere. Don't be limited to office hours to deliver a great &
            consistent experience. Customers can always get in touch whenever they want from any channel they prefer
            like WhatsApp, Live Chat & more.

        </p>

        <h3>Free-up Service Agents Time</h3>
        <p> With automated conversations your agents will win time back to help customers with difficult and complex
            questions.

        </p>

        <h3>Understand Your Customers </h3>
        <p> If you understand your customers, you know how to improve your Business With our Vailo AI-Powered
            chatbot, you will have valuable insights to continuously improve your service and growth of your
            Business.
        </p>

       
    </article>
</section>


{% endblock body %}






{% block script %}

{% endblock script %}
