{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .sectionOneMainDIv {
        background: url("{% static 'img/serviceImgBg.png' %}") center no-repeat;
    }

    .bg1 {
        background: url("{% static 'img/serviceImgBgSide.png' %}") no-repeat;
    }
</style>

{% endblock header %}





{% block body %}





<div>

    <div class="bg1">
        <div class="section2" style="    margin: 0 90px;align-items: baseline;">


            <div class="sectionOneMainDIv" style="padding: 30px 0">
                <div class="sectionImgLeft">
                    <div class="sectionMainOne">
                        <span style="display: flex; flex-direction: row; gap: 15px;">
                            <h1>
                                Brillion1 Services

                            </h1>
                            <img src="{% static 'img/headerImgService.png' %}" alt="" style="width: fit-content;">
                        </span>
                        <h2 style="font-size: 32px; line-height: 43.65px;">
                            Leverage whatsapp as a revolutionary
                            user interface for your enterprise applications
                            mouli nnndnddndndndnddndndndddnjssjkkaakaheheheeh
                        </h2>

                    </div>



                </div>
                <div class="sectionImgRight">
                    <img src="{% static 'img/serviceImgMain.png' %}" alt="">
                </div>
            </div>


        </div>






    </div>


    <div class="section2add" style="position: relative;">
        <span style="width: 100%;position: absolute;right: -90px;">
            <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
        </span>
        <p>
            In this age of digital transformation, our IT services lead the charge in revolutionizing business
            communication by seamlessly integrating WhatsApp into enterprise infrastructure.  Integrating WhatsApp
            seamlessly into the core of business operations via Brillion1 has the potential to revolutionize their
            operations and enhance customer engagement. The benefits are numerous, ranging from automated responses and
            chatbots to multi-language support and personalized real-time conversations MOHAN KUMAR PYTHO DJANGO DEVELOPER BANGALORE.


        </p>
        <span style="width: 100%;position: absolute;z-index: 111;bottom: 30px; left: -90px;">
            <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
        </span>
    </div>

    <div class="sectionParagraph">
        <p>
            Choose our WhatsApp integration services and enjoy a partnership dedicated to your success, blending
            innovation, customer focus, and reliability. We are ready to assist you in navigating the complexities of
            the digital world, providing solutions that propel your organization toward continuous growth and
            outstanding performance. By staying ahead of technological advancements and constantly improving our skills,
            we offer modern IT solutions that empower our clients to thrive in an ever-evolving digital environment.
        </p>
    </div>

    <div class="partnerThird" style="background: #F3F3FF;">
        <h2>
            Industries and Use Cases
        </h2>
        <div class="serviceUseCase">
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgNine.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        E-commerce
                    </h2>
                    <p>
                        Automate order processes, shipping notifications, and customer support for an enhanced user
                        experience.
                    </p>
                </span>
            </div>
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgten.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        Healthcare
                    </h2>
                    <p>
                        Engage patients, securely share medical records, and automate appointment scheduling in multiple
                        languages.
                    </p>
                </span>
            </div>
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgEleven.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        Travel And Hospitality
                    </h2>
                    <p>
                        Airlines, hotels, and travel agencies can send bookingconfirmations, flight updates, and travel assistance through WhatsApp.
                    </p>
                </span>
            </div>
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgTwelve.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        Finance
                    </h2>
                    <p>
                        Automate account notifications, provide transaction alerts, offer multilingual customer support,
                        and enable secure transactions.

                    </p>
                </span>
            </div>
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgThirten.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        Retail

                    </h2>
                    <p>
                        Businessescan use WhatsApp for order confirmations, shipping updates, and customersupport.

                    </p>
                </span>
            </div>
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgFourteen.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        Real Estate


                    </h2>
                    <p>
                        Real estate agents can share property listings, schedule property viewings, andcommunicate with
                        clients through WhatsApp.
                    </p>
                </span>
            </div>
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgFifteen.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        Food And Beverage
                    </h2>
                    <p>
                        Restaurantsand food delivery services can send order confirmations, delivery updates,
                        andpromotions through WhatsApp.

                    </p>
                </span>
            </div>
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgSixteen.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        Automotive
                    </h2>
                    <p>
                        Car dealerships and service centres can use WhatsAppfor appointment scheduling, service updates,
                        and customer inquiries. </p>
                </span>
            </div>
            <div class="serviceUseCaseSub">
                <div class="serviceUseCaseImg">

                    <img src="{% static 'img/serviceImgSaventeen.png' %}" alt="">
                </div>
                <span>
                    <h2 style="font-size: 24px;">
                        Fitness and Wellness
                    </h2>
                    <p>
                        Fitness centres can use WhatsApp to send Class reminders, workout plans, and membership updates.

                    </p>
                </span>
            </div>
        </div>

    </div>



    <div class="section3" style="margin-top: 0;padding-top: 30px;">


        <div class="sectionContainer">
            <div class="sectionServ" style="width: 70%;">
                <h3>
                    Key Features and Benefits
                </h3>

            </div>
            <div class="sectionServ" style="width: 130%;">
                <ul>
                    <li>
                        <div style="display: flex; flex-direction: column;">
                            <h3>
                                Efficiency Through Automation
                            </h3>
                            <p>Automate responses to streamline business
                                processes, reduce response time, and lighten
                                the workload</p>

                        </div>
                    </li>


                    <li class="secLiServ">
                        <div style="display: flex; flex-direction: column;">
                            <h3>
                                Enhanced Engagement

                            </h3>
                            <p>Elevate customer engagement with secure, tailored
                                WhatsApp messaging for updates, transactions,
                                and support.</p>

                        </div>
                    </li>
                    <li>
                        <div style="display: flex; flex-direction: column;">
                            <h3>
                                Secured Communication

                            </h3>
                            <p>
                                We ensure security through encryption and
                                compliance to protect confidential data.
                            </p>

                        </div>

                    </li>
                    <li>
                        <div style="display: flex; flex-direction: column;">
                            <h3>
                                Multi-Language Support

                            </h3>
                            <p>
                                Support seamless communication for diverse
                                customer bases with multi-language support.
                            </p>

                        </div>
                    </li>
                    <li>
                        <div style="display: flex; flex-direction: column;">
                            <h3>
                                Personalized Real-Time
                                Engagement
                            </h3>
                            <p>
                                Enhance customer engagement by personalizing
                                conversations and addressing inquiries promptly
                                based on preferences.
                            </p>

                        </div>
                    </li>
                    <li>
                        <div style="display: flex; flex-direction: column;">
                            <h3>
                                Seamless Integration
                            </h3>
                            <p>
                                Integrate WhatsApp with enterprise applications,
                                ensuring compatibility and maximizing efficiency.
                            </p>

                        </div>
                    </li>
                    <li>
                        <div style="display: flex; flex-direction: column;">
                            <h3>
                                Optimized Workflows
                            </h3>
                            <p>
                                Enhance internal and external communication by
                                integrating WhatsApp API with existing workflows
                            </p>

                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>





</div>




{% endblock body %}






{% block script %}

{% endblock script %}