{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .bg1 {
        background: url("{% static 'img/serviceImgBgSide.png' %}") no-repeat;
    }
</style>

{% endblock header %}





{% block body %}

<div class="bg1">
    <div class="section2" style="    margin: 0 90px;align-items: baseline;">


        <div class="sectionOneMainDIv" style="padding: 30px 0">
            <div class="sectionImgLeft">
                <div class="sectionMainOne">
                    <span style="display: flex; flex-direction: row; gap: 15px;">
                        <h1>
                            Enhanced Service Desk
                            accessibility

                        </h1>

                    </span>
                    <h2 style="font-size: 32px; line-height: 43.65px;">
                        Integrate whatsapp with Service Now to drive higher operational efficiency
                    </h2>

                </div>



            </div>
            <div class="sectionImgRight">
                <img src="{% static 'img/serviceIm1.png' %}" alt="">
            </div>
        </div>


    </div>






</div>


<div class="section2add" style="position: relative;">
    <span style="width: 100%;position: absolute;right: -90px;">
        <img src="{% static 'img/openQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-start;">
    </span>
    <p>
        The integration of WhatsApp with ServiceNow brings a powerful combination of real-time communication and service
        management capabilities to streamline and enhance organizational workflows. By integrating WhatsApp, a widely
        used messaging platform, with ServiceNow, a comprehensive service management platform, organizations can improve
        communication, collaboration, and overall efficiency.
    </p>
    <span style="width: 100%;position: absolute;z-index: 111;bottom: 30px;left: -90px;">
        <img src="{% static 'img/closeQuote1.png' %}" alt="openQuote1" style="display: flex;float: inline-end;">
    </span>
</div>


<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">



        <!-- <div class="dcOneLeftSection marginZero" style="width: 57% !important;">
                            <h3>Brillion1 Ticket</h3> -->
        <p>
            ServiceNow's robust capabilities, such as incident management, change management, and IT asset management,
            can be seamlessly integrated with WhatsApp communication. Service desk agents can receive and respond to
            alerts, incidents, and service requests directly within the familiar WhatsApp interface, improving
            responsiveness and reducing resolution times. Envision a scenario where users effortlessly shift from
            informal chats to resolving their queries with a simple WhatsApp message. In this landscape, ServiceNow
            plays the role of a proficient wizard, rapidly transforming incoming messages into actionable tickets and
            seamlessly directing them to specialized teams for prompt resolutions.
        </p>


    </div>

    <div class="dcTwoRightSection widthThirty flexEnd heightthreeH">
        <img id="myImage1H" src="{% static 'img/serviceNowImg1.png' %}" alt="">
    </div>

</div>




<div class="mainDcSection">
    <div class="dcTwoRightSection widthThirty heightthreeHOne">
        <img src="{% static 'img/serviceNowImg2.png' %}" alt="">
    </div>

    <div class="dcOneLeftSection widthSixty" style="padding-right: 0 !important;">


        <h2 style="font-size: 20px; line-height: 27.28px;font-weight: 600;">
            Interactions become more than just notifications
        </h2>

        <p style="font-size: 16px;">
            Updates elegantly merge into a synchronized ballet, seamlessly appearing in users' WhatsApp inboxes. These
            messages provide a real-time narrative, illuminating the progress of their inquiries. Each update promotes
            transparency, keeping users engaged, informed, and satisfied.
        </p>


    </div>



</div>
<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">


        <h2 style="font-size: 20px; line-height: 27.28px;font-weight: 600;">
            Integration isn't just about responsiveness
        </h2>

        <p style="font-size: 16px;">
            In this advanced environment, intelligence merges seamlessly with ServiceNow's workflows. Think of these
            workflows as skilled conductors harmonizing support inquiries, evaluating WhatsApp messages, and resolving
            issues with finesse. Efficiency is key, with decreased response times, quick problem resolution, and
            streamlined transparency in support procedures.

        </p>


    </div>
    <div class="dcTwoRightSection widthThirty flexEnd heightthreeHOne">
        <img src="{% static 'img/serviceNowImg3.png' %}" alt="">
    </div>


</div>





<div class="mainDcSection">


    <div class="dcTwoRightSection widthThirty heightthreeH">
        <img src="{% static 'img/serviceNowImg4.png' %}" alt="">
    </div>
    <div class="dcOneLeftSection widthSixty">
        <h2 style="font-size: 20px; line-height: 27.28px;font-weight: 600;">
            Data harvested transcends mere metrics
        </h2>

        <p style="font-size: 16px;">
            It becomes a diverse collection of valuable perspectives, offering guidance to effectively improve support
            strategies. It is a valuable resource for understanding customer behaviour, streamlining operations, and
            finding innovative ways to achieve exceptional customer satisfaction.

        </p>
    </div>

</div>
<div class="mainDcSection flexReverce">


    <div class="dcOneLeftSection widthSixty" style="padding-left: 0 !important;">


        <h2 style="font-size: 20px; line-height: 27.28px; font-weight: 600;">
            The fusion of WhatsApp and ServiceNow transcends mere integration.
        </h2>

        <p style="font-size: 16px;">
            A strategic amalgamation where the capabilities of both platforms are intricately woven together, creating a
            symbiotic relationship that enhances the overall functionality and efficiency of customer service and
            support processes. This elaborate integration signifies a deeper collaboration, allowing for seamless
            communication, streamlined workflows, and an enriched user experience.
        </p>


    </div>
    <div class="dcTwoRightSection widthThirty flexEnd heightthreeHOne">
        <img src="{% static 'img/serviceNowImg5.png' %}" alt="">
    </div>


</div>

<div class="mainDcSection">


    <div class="dcTwoRightSection widthThirty heightthreeHOne">
        <img src="{% static 'img/serviceNowImg6.6.png' %}" alt="">
    </div>
    <div class="dcOneLeftSection widthSixty">
        <h2 style="font-size: 20px; line-height: 27.28px;font-weight: 600;">
            This integration isn't a distant dream
        </h2>

        <p style="font-size: 16px;">
            It's a vivid picture waiting to be painted—a landscape adorned with heightened user experiences, a symphony
            of operational efficiency, and a transformational shift in the very essence of customer support. It's not
            just promising—it's a tangible reality on the brink of revolutionizing the way telecommunications giants
            engage and support their users.
        </p>
    </div>

</div>



<div class="bottomAbsolute">
    <a href="{% url 'useCasePage' %}">
        <img src="{% static 'img/useCaseBottom.png' %}" alt="">
    </a>
</div>









{% endblock body %}






{% block script %}

{% endblock script %}


























<script src="./index.js"></script>
</body>

</html>