{% extends "vailo.html" %}
{% load static %}
<!-- {% load static %} -->

{% block title %}aboutUs{% endblock title %}


{% block header %}
<style>
    .ticketSectionOne {
    background: url("{% static 'img/ticketBgImg.png' %}");
}
</style>

{% endblock header %}





{% block body %}



<div>
    <div class="ticketSectionOne">
        <h2 style="color: #fff">Ticket</h2>
        <!-- <p style="color: #fff; padding: 20px;">
            I would love to share with you guys my recent work Beauty Product Website Design. Hope
        </p> -->

    </div>



    <div class="mainDcSection">


        <div class="dcOneLeftSection">
            <h3>Ticket Platform</h3>

            <p>
                Vailo ticket booking service on WhatsApp! We're excited to offer you a convenient and efficient way
                to secure your tickets for various events, shows, and experiences. Whether you're looking for
                concert tickets, movie screenings, sports events, or any other entertainment options, we've got you
                covered. With our WhatsApp ticket booking service, you can say goodbye to long queues and
                frustrating online forms. We understand the value of your time.
            </p>
        </div>
        <div class="dcTwoRightSection widthThirty">
            <img src="{% static 'img/ticketImgOne.png' %}" alt="">
        </div>
    </div>


    <div class="mainDcSection">

        <div class="dcTwoRightSection">
            <img src="{% static 'img/ticketImgTwo.png' %}" alt="">
        </div>
        <div class="dcOneLeftSection">
            <h3>Ticket Dashboard</h3>

            <p>
                You are Centralized hub for managing and optimizing your work for your event or concert. Were you
                able to sell tickets for your event or concert on a single platform and easily generate leads,
                promote your event, and sell tickets.
            </p>


        </div>
    </div>

    <div class="mainDcSection">


        <div class="dcOneLeftSection">
            <div>
                <h3>Whatsapp Ticket Booking</h3>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Save our WhatsApp booking number in your contacts.
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Start a conversation with us on WhatsApp.
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Let us know which event you're interested in attending.
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Share details such as the event name, date, location and the number of tickets you require.
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Complete the payment process through the secure payment link we provide.
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    Once the payment is confirmed, we'll send you an e-ticket or booking confirmation directly to
                    your WhatsApp.
                </p>
            </div>
            <div>
                <div class="imgDcOneLeftSection">

                    <img src="{% static 'img/listMark.png' %}" alt="">
                </div>
                <p>
                    You're all set for the event!
                </p>
            </div>

        </div>
        <div class="dcTwoRightSection">
            <img src="{% static 'img/ticketImgThree.png' %}" alt="">
        </div>

    </div>


    <div class="mainDcSection">

        <div class="dcTwoRightSection">
            <img src="{% static 'img/ticketImgFour.png' %}" alt="">
        </div>
        <div class="dcOneLeftSection">
            <h3>Q/R Bar Code scanning</h3>

            <p>
                We are pleased to introduce our seamless QR code ticket verification system, designed to enhance the
                efficiency and security of event entry. With our QR code technology, accessing your event you are
                easily able to identify fake ticket, Speed up the entry process, reducing waiting time and enhanced
                data collection of the event
            </p>


        </div>
    </div>

</div>





    {% endblock body %}






    {% block script %}
    
    {% endblock script %}


    























    <script src="./index.js"></script>
</body>

</html>