{% extends "admindash.html" %}
{% load static %}

{% block title %} register {% endblock title %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock header %}


{% block rightcontent %}


<div class="successMessage">
  <div class="successMessageDiv">
    <h3>Updated Succesfully</h3>
    <a href="{% url 'clientList' %}">
      <button>
       Back to Client List
      </button>
    </a>
  </div>


  


</div>
{% endblock rightcontent %}


{% block script %}


{% endblock script %}