{% extends "vailo.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="path-to-owl-carousel.css">
<script src="path-to-jquery.js"></script>
<script src="path-to-owl-carousel.js"></script>

{% endblock header %}
<!-- {% block title %}Vailo.ai {% endblock title %} -->

{% block body %}


<section>
    <div class="sectionOneMainDIv">
        <div class="sectionImgLeft">
            <div class="sectionMainOne">
                <h1>
                    power your customer
                    engagement through
                    Brillionone             
                </h1>
            </div>

            <div class="sectionOneJs">
                <h1 id="output"> </h1>

            </div>
            <div class="btnFlex">
                <a href="{% url 'demo' %}">
                    <button class="activeBtn">
                        SING UP FOR FREE
                    </button></a>
                <a href="{% url 'login' %}">
                    <button>
                    REQUEST DEMO
                </button>
                </a>
            </div>
        </div>
        <div class="sectionImgRight">
            <img src="{% static 'img/section1Img.png' %}" alt="">
        </div>
    </div>



</section>
<div class="section2">
<h2>What is Brillionone?</h2>
<p>I would love to share with you guys my recent work Beauty Product Website Design. Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.I would love to share with you guys my recent work Beauty Product Website Design. Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.I would love to share with you guys my recent work Beauty Product Website Design.
    Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.</p>
</div>
<div class="section2">
<h2>Problem Statement</h2>
<p>
    I would love to share with you guys my recent work Beauty Product Website Design. Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.I would love to share with you guys my recent work Beauty Product Website Design. Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.I would love to share with you guys my recent work Beauty Product Website Design.
    Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.
</p>
</div>

<div class="mainDcSection">

   
    <div class="dcTwoRightSection widthSixty">
        <img src="{% static 'img/mainTwoSec.png' %}" alt="">
    </div>
    <div class="dcOneLeftSection widthThirty">
        <h2>Scale your customer service
            with chatbots</h2>

        <p>
            Build and deploy complex decision trees on WhatsApp using our no-code bot builder. Let your team focus on meaningful work, while the bots resolve repetitive questions by providing precise answers instantly.
        </p>
    </div>
    
</div>

<div class="mainDcSection">


    <div class="dcOneLeftSection">
        <h2>Send notifications at the right time</h2>

        <p>
            Proactively notify customers at the right moment using Template messages. Attach images, videos and documents to these messages to add more context.
        </p>
    </div>
    <div class="dcTwoRightSection widthThirty">
        <img src="{% static 'img/sectionThreeMain.png' %}" alt="">
    </div>
</div>

<!-- <div class="sliderContiner">
    <div class="container">
        <h2 style="color:#fff">Platforms</h2>
        <p>
            WhatsApp is the top messaging app, perfect for expanding your reach and connecting with customers. With
            excellent customer support and marketing options, it enhances the customer experience. It's a flexible and
            effective way to engage with your customer base. By using our platforms on Brillion, we help businesses to
            leverage all these benefits with minimal time to market, minimal cost, minimal effort and zero technical
            knowledge.
        </p>
        <div class="slider" data-slider>
            <ul class="slider__track" data-slider-track>
                <li>
                    <div class="slide">
                        <div class="slideSub">
                            <img src="{% static 'img/appointment.png' %}" alt="">
                            <h2>Appointment</h2>
                            <p>
                                Scheduling appointment is made simple through WhatsApp. When customers initiate an
                                appointment request through WhatsApp, it will handle these requests automatically. It
                                can send confirmation messages, reminders, and notifications as needed.
                            </p>
                        </div>


                    </div>
                </li>
                <li>
                    <div class="slide">
                        <div class="slideSub">
                            <img src="{% static 'img/d2c.png' %}" alt="">
                            <h2>D2C</h2>

                            <p>
                                The growth of the direct-to-consumer business model is quite relevant today. We provide Omnichannel approach to stay connected with your customers. D2C brands can quickly adapt to changing market trends and consumer preferences.
                            </p>

                        </div>


                    </div>
                </li>
                </li>
                <li>
                    <div class="slide">
                        <div class="slideSub">
                            <img src="{% static 'img/donation.png' %}" alt="">
                            <h2>Donation</h2>

                            <p>
                                Brillion.one enables organizations to engage with supporters, accept donations, and
                                provide updates on their work through the WhatsApp platform. NGOs can collect payments
                                now on WhatsApp seamlessly through different modes of Payments (Razorpay, Paypal etc)
                            </p>

                        </div>


                    </div>
                </li>
                <li>
                    <div class="slide">
                        <div class="slideSub">
                            <img src="{% static 'img/scanMenu.png' %}" alt="">
                            <h2>Scan to menu</h2>
                            <p>
                                By simply scanning a QR code with your smartphone, you can access the restaurant's
                                digital menu instantly through WhatsApp. This contactless approach ensures a safer
                                dining experience while providing convenience and efficiency
                            </p>
                        </div>
                    </div>
                </li>
              
                
            </ul>
            <div class="slider__buttons">
                <button class="slider__button" data-slider-prev disabled>
                    < </button>
                        <button class="slider__button" data-slider-next>
                            >
                        </button>
            </div>
        </div>
    </div>
</div> -->

<div class="serviceContiner">
    <div class="container">
        <h2>Benenifits Using Our Services</h2>
        <p>
            I would love to share with you guys my recent work Beauty Product Website Design.
Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.
            
        </p>
        <div class="serviceBox">
            <ul class="serviceBox">
                <li>
                    <div class="serviceItem">
                        <div class="serviceItemeSub">
                            <img src="{% static 'img/thumbsUpIcon.png' %}" alt="">
                            <h2>Cost Effective</h2>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when
                                                        </p>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="serviceItem">
                        <div class="serviceItemeSub">
                            <img src="{% static 'img/rotatingWheel.png' %}" alt="">
                            <h2>Increased efficiency</h2>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when                  
                                </p>
                              </div>
                    </div>

                </li>
                <li>
                    <div class="serviceItem">
                        <div class="serviceItemeSub">
                            <img src="{% static 'img/aimImg.png' %}" alt="">
                            <h2>Global Reach</h2>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when
                            </p>
                                                    </div>
                    </div>

                </li>

                <li>
                    <div class="serviceItem">
                        <div class="serviceItemeSub">
                            <img src="{% static 'img/costImg.png' %}" alt="">
                            <h2>High Conversion Rate</h2>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when
                            </p>
                                                </div>
                    </div>

                </li>




                <!-- <li>
                    <div class="slide">6</div>
                </li>
                <li>
                    <div class="slide">7</div>
                </li> -->
            </ul>

        </div>
    </div>
</div>

<!-- <div class="benifitsContiner">
    <div class="container" style="width: -webkit-fill-available;">
        <h2 style="color: #fff;">Benefits</h2>
        <p>
            Improve customer communication, streamline operations, and enhance their presence on one of the world's most popular messaging platforms.
        </p>
        <div class="benfitsBox">
            <ul class="benfitsBox">
                <li>
                    <div class="benfitsItem activeBenfits">
                        <div class="benfitsItemeSub">
                            <img src="{% static 'img/easyImg.png' %}" alt="">
                            <h2>Cost Effective</h2>
                            <p>
                                Using Brillion.one is more cost-effective compared to traditional communication channels, such as phone calls and emails. Businesses can use the platform to handle a large volume of messages and queries with minimal staff.                            </p>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="benfitsItem">
                        <div class="benfitsItemeSub">
                            <img src="{% static 'img/effeciantImg.png' %}" alt="">
                            <h2>Increased efficiency</h2>
                            <p>
                                Businesses can now automate certain tasks, such as sending notifications and responding to customer queries. This can help to reduce the workload of customer support teams and improve response times
                            </p>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="benfitsItem">
                        <div class="benfitsItemeSub">
                            <img src="{% static 'img/effectiveImg.png' %}" alt="">
                            <h2>Global Reach</h2>
                            <p>
                                WhatsApp is a globally used platform, allowing businesses to reach customers worldwide without    the need to handle diverse set of channels. By using the platform, businesses can reach customers in different countries and regions, increasing their sales potential.
                            </p>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="benfitsItem">
                        <div class="benfitsItemeSub">
                            <img src="{% static 'img/economicalImg.png' %}" alt="">
                            <h2>High Conversion Rate</h2>
                            <p>
                                Out of every 100 WhatsApp messages sent, 98 are read within the first two hours, 5 times more than emails and SMS. WhatsApp messages have a 45-60% conversion rate, which is 12 times higher than emails
                            </p>
                        </div>
                    </div>

                </li>




             
            </ul>

        </div>
    </div>
</div> -->



<!-- <main> -->

<!-- 
    <section>
        <div class="firstBackgroundPosition">
            <div class="firstBackground "></div>
        </div>
        <div class="sectionOne">
            <div class="leftSectionOne">

                <div class="leftSectionOneMain">
                    <h1>Reach Your Business everywhere using WhatsApp</h1>


                    <span class="leftSectionOneUl">
                        <ul>
                            <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                                <p>Easy</p>
                            </li>
                            <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                                <p>Efficient</p>
                            </li>
                            <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                                <p>Effective</p>
                            </li>
                            <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi">
                                <p>Economical</p>
                            </li>
                        </ul>


                    </span>
                </div>

            </div>
            <div class="rightSectionOne">
                <img src="{% static 'img/imgOneLanding.png' %}" alt="imgOneLanding">
            </div>
        </div>
    </section>


    <section>
        <div class="sectionTwo">
            <div class="leftSectionTwo">
                <img src="{% static 'img/imgTwoLanding.png' %}" alt="imgTwoLanding.png">
            </div>
            <div class="rightSectionTwo">
                <h2>The Vailo</h2>
                <br>
                <p>VAILO platform is a pioneer in bringing next generation experience to day today commerce. By
                    leveraging VAILO, businesses have easy way of converting their social media foot falls into
                    sales into direct sales. Businesses have direct access to their own customer data for future
                    engagements. Businesses can have a truly direct commerce channel with customers. Our solution
                    runs on a fully secured platform along with end to end encryption.
                    <br><br>
                    Enhance your business with the power of Whatsapp and Telegram Bring next generation customer
                    experience to your business with our unique solution.
                </p>
            </div>

        </div>

    </section>

    <section>

        <div class="sectionThree">
            <h2>Power of VAILO :Zero to Infinity</h2>

            <div class="sectionThreeGrid">

                <div class="sectionThreeUl">
                    <span>
                    <h3>Say No</h3>
                    <span class="leftSectionOneUl">
                    <ul>
                        <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi"><p>No additional website.</p></li>
                        <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi"><p>No app required.</p></li>
                        <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi"><p>No technical knowledge required to leverage the platform.</p></li>
                        <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi"><p>No Commission on the payments coming from your sales</p></li>
                    </ul>
                </span>
                </span>
                </div>

                <div class="sectionThreeImgOne"  style="width: 40%;">
                    <img src="{% static 'img/sectionThreeImgOne.png' %}" alt="sectionThreeImgOne">
                </div>
            </div>
                <div class="sectionThreeGrid sectionThreeGridReverse" >
                <div class="sectionThreeImgOne"  style="width: 40%;">
                    <img src="{% static 'img/sectionThreeImgTwo.png' %}" alt="sectionThreeImgOne">
                </div>


                <div class="sectionThreeUl">
                    <span>
                    <h3>Do Easy</h3>
                    <span class="leftSectionOneUl">
                    <ul>
                        <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi"><p>Easy to restrict Black Ticket Scam.</p></li>
                        <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi"><p>Easy to do Campaign and Promotional activity.</p> </li>
                        <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi"><p>Easy to generate leads.</p></li>
                        <li><img class="iconLi" src="{% static 'img/iconLi.png' %}" alt="iconLi"><p>Easy to sell Ticket for Event or Concert to your targeted customer through Vailo.ai.</p> </li>
                    </ul>
                </span>
                </span>
                </div>

            </div>

        </div>
    </section>

    <section>
        <div class="sectionFour sectionTwo">
            <div class="leftSectionFour">
                <h2>Accelerate your reach</h2>
                <br>
                <p>VAILO gives you an ability to share a link that carries your whatsapp, telegram catalogue that you can share in any of your social media channels. All your online marketing efforts can be tagged with a direct sales link. You can push special offers to your existing customers directly.</p>
            </div>
            <div class="rightSectionFour">
                <img src="{% static 'img/sectionFourImg.png' %}" alt="sectionFourImg">

            </div>
        </div>
    </section>

    <section>
        <div class="sectionTwo sectionFour sectionFive">

            <div class="rightSectionFour LeftSectionFive">
                <img src="{% static 'img/sectionFiveImg.png' %}" alt="sectionFiveImg">

            </div>
            <div class="leftSectionFour rightSectionFive">
                <h2>A full Process <br>
                    from <br>
                     end to end</h2>
                <br>
            </div>
           
        </div>
    </section>

    <section>
        <div class="sectionFour sectionTwo">
            <div class="leftSectionFour">
                <h2>Make More Conversions</h2>
                <br>
                <p>Both businesses and end customers who are stakeholders receive next generation experiences from VAILO. No need to downloaded any other app or browser... As it functions without a hitch in well-known whatsapp chat programmes. The users are provided with a very engaging and immersive experience. Businesses can cross-leverage their online and offline presence thanks to the seamless coexistence of online and offline variants.</p>
            </div>
            <div class="rightSectionFour">
                <img class="sliderVailoConversion" src="{% static 'img/vailoconversionImg.png' %}" alt="vailoconversionImg">
                <img class="sliderVailoConversion" src="{% static 'img/vailoconversionImg2.png' %}"
                    alt="vailoconversionImg">

            </div>
        </div>
    </section> -->

<!-- </main> -->

<!-- TESTIMONIALS -->
<div class="testimonials">
	<div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel">

            <!--TESTIMONIAL 1 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">EMILIANO AQUILANI</div>
            </div>
            <!--END OF TESTIMONIAL 1 -->
            <!--TESTIMONIAL 2 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">ANNA ITURBE</div>
            </div>
            <!--END OF TESTIMONIAL 2 -->
            <!--TESTIMONIAL 3 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">LARA ATKINSON</div>
            </div>
            <!--END OF TESTIMONIAL 3 -->
            <!--TESTIMONIAL 4 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">IAN OWEN</div>
            </div>
            <!--END OF TESTIMONIAL 4 -->
            <!--TESTIMONIAL 5 -->
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
              </div>
              <div class="testimonial-name">MICHAEL TEDDY</div>
            </div>
            <!--END OF TESTIMONIAL 5 -->
          </div>
        </div>
      </div>
      </div>
</div>
    <!-- END OF TESTIMONIALS -->

{% endblock body %}
{% block script %}
<script>
    jQuery(document).ready(function ($) {
	"use strict";
	//  TESTIMONIALS CAROUSEL HOOK
	$("#customers-testimonials").owlCarousel({
		loop: true,
		center: true,
		items: 3,
		margin: 0,
		autoplay: true,
		dots: true,
		autoplayTimeout: 8500,
		smartSpeed: 450,
		responsive: {
			0: {
				items: 1
			},
			768: {
				items: 2
			},
			1170: {
				items: 3
			}
		}
	});
});

    </script>

<script>
    sliderIndexCoversion = 0;
    sliderCon();

    function sliderCon() {
        i = 0;
        slides = document.getElementsByClassName("sliderVailoConversion");
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none"
        }
        sliderIndexCoversion++;
        if (sliderIndexCoversion > slides.length) {
            sliderIndexCoversion = 1
        }
        slides[sliderIndexCoversion - 1].style.display = "block"
        setTimeout(sliderCon, 2000)
    }
</script>

<!-- <script>

    const logoSlider = document.querySelector('.boostSlide-sliderBoost');
    const prevButton = document.querySelector('.prevLogo-buttonSlide');
    const nextButton = document.querySelector('.nextLogo-buttonSlide');

    let scrollAmount = 0;
    const slideWidth = 170;

    nextButton.addEventListener('click', () => {
        const availableScrollWidth = logoSlider.scrollWidth - logoSlider.clientWidth;
        if (scrollAmount < availableScrollWidth) {
            scrollAmount += slideWidth;
            logoSlider.scroll({ left: scrollAmount, behavior: 'smooth' });
        }
    });

    prevButton.addEventListener('click', () => {
        if (scrollAmount > 0) {
            scrollAmount -= slideWidth;
            logoSlider.scroll({ left: scrollAmount, behavior: 'smooth' });
        }
    });

</script> -->
<script>
    const slider = document.querySelector("[data-slider]");
    const track = slider.querySelector("[data-slider-track]");
    const prev = slider.querySelector("[data-slider-prev]");
    const next = slider.querySelector("[data-slider-next]");

    function resizeTrack() {
        const containerWidth = slider.clientWidth;
        const slideWidth = track.firstElementChild.clientWidth + 20; // 20px for column-gap
        const numCompleteContainers = Math.floor(containerWidth / slideWidth);
        const visibleTrackWidth = numCompleteContainers * slideWidth;
        track.style.width = visibleTrackWidth + "px";
    }

    if (track) {
        // Call resizeTrack when the page loads and when the window is resized
        window.addEventListener("load", resizeTrack);
        window.addEventListener("resize", resizeTrack);

        prev.addEventListener("click", () => {
            next.removeAttribute("disabled");

            track.scrollTo({
                left: track.scrollLeft - track.clientWidth,
                behavior: "smooth",
            });
        });

        next.addEventListener("click", () => {
            prev.removeAttribute("disabled");

            track.scrollTo({
                left: track.scrollLeft + track.clientWidth,
                behavior: "smooth",
            });
        });

        track.addEventListener("scroll", () => {
            prev.removeAttribute("disabled");
            next.removeAttribute("disabled");

            if (track.scrollLeft <= 0) {
                prev.setAttribute("disabled", "");
            }

            if (track.scrollLeft >= track.scrollWidth - track.clientWidth) {
                next.setAttribute("disabled", "");
            }
        });
    }
</script>
{% endblock script %}