<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    
    <nav>
        <div class="navMain">
            <div class="leftNav">
                <img src="./img/logoNav.png" alt="">
            </div>

            <div class="menu" id="menuOpen">
                <img src="./img/menuOpen.png" alt="" id="menuId">
            </div>
            <ul class="displayMb" id="displayMbId">

                <li><a href="/index.html" class="active">
                        <p>Home</p>
                    </a>

                </li>
                <li><a href="/about.html">
                        <p>About us</p>
                    </a>

                </li>
                <li>
                    <a href="#" class="platformsNav" id="PlatformsId">
                        <p>Platforms</p>
                        <img src="./img/downArrow.png" alt="" id="arrowUpId1">
                    </a>
                    <div class="downArrowListDis" id="listPlatformsId">
                        <ul class="downArrowList">
                            <li><a href="#">
                                    <p>Appointment</p>
                                </a></li>
                            <li><a href="#">
                                    <p>D2C</p>
                                </a></li>
                            <li><a href="./donationPage.html">
                                    <p>Donation</p>
                                </a></li>
                            <li><a href="./scannerPage.html">
                                    <p>Scan to menu</p>
                                </a></li>
                            <li><a href="./ticketPage.html">
                                    <p>Ticket</p>
                                </a></li>


                        </ul>
                    </div>
                </li>
                <li><a href="#" class="platformsNav" id="ServicestId">
                        <p>Services</p>
                        <img src="./img/downArrow.png" alt="" id="arrowUpId2">
                    </a>
                    <div class="downArrowListDis" id="listServicesId">
                        <ul class="downArrowList">
                            <li><a href="#">
                                    <p>Business application</p>
                                </a></li>
                            <li><a href="#">
                                    <p>IWRS/Chatbots</p>
                                </a></li>
                            <li><a href="#">
                                    <p>Marketing Companion</p>
                                </a></li>
                            <li><a href="#">
                                    <p>Support Systems</p>
                                </a></li>



                        </ul>
                    </div>

                </li>
                <li>
                    <a href="#" class="platformsNav" id="blogId">
                        <p>Blog</p>
                        <img src="./img/downArrow.png" alt="" id="arrowUpId3">
                    </a>
                    <div class="downArrowListDis" id="listBlogId">
                        <ul class="downArrowList">
                            <li><a href="./directCPage.html">
                                    <p>Direct Commerce</p>
                                </a></li>
                            <li><a href="#">
                                    <p>Reach Billions & Beyond</p>
                                </a></li>



                        </ul>
                    </div>

                </li>
                <li><a href="#" class="platformsNav" id="PartnersId">
                        <p>Partners</p>
                        <img src="./img/downArrow.png" alt="" id="arrowUpId4">
                    </a>
                    <div class="downArrowListDis" id="listPartnersId">
                        <ul class="downArrowList">
                            <li><a href="/partner.html">
                                    <p>Become our Partner</p>
                                </a></li>
                            <li><a href="#">
                                    <p>Our Strategy Partner</p>
                                </a></li>



                        </ul>
                    </div>

                </li>
                <li><a href="#" id="logOutId"><img src="./img/logOutImg.png" alt=""></a>

                </li>
            </ul>
        </div>
    </nav>



    <section>
        <div class="sectionOneMainDIv">
            <div class="sectionImgLeft">
                <div class="sectionMainOne">
                    <h1>Reach Your Business
                        everywhere using </h1>
                </div>

                <div class="sectionOneJs">
                    <h1 id="output"> </h1>

                </div>
                <div class="btnFlex">
                    <a href="./signUpDemo.html"><button class="activeBtn">
                        Sign up
                    </button></a>
                    <a href="/login.html"><button>Login</button></a>
                </div>
            </div>
            <div class="sectionImgRight">
                <img src="./img/section1Img.png" alt="">
            </div>
        </div>



    </section>

    <div class="sliderContiner">
        <div class="container">
            <h2>Platforms</h2>
            <p>I would love to share with you guys my recent work Beauty Product Website Design. Hope you guys enjoy and
                press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.I would
                love to share with you guys my recent work Beauty Product Website Design. Hope you guys enjoy and press
                "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.I would love
                to share with you guys my recent work Beauty Product Website Design.
                Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the
                comments below.</p>
            <div class="slider" data-slider>
                <ul class="slider__track" data-slider-track>
                    <li>
                        <div class="slide">
                            <div class="slideSub">
                                <img src="./img/appointment.png" alt="">
                                <h2>Appointment</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>


                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <div class="slideSub">
                                <img src="./img/d2c.png" alt="">
                                <h2>D2C</h2>
                               
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                                
                            </div>


                        </div>
                    </li>
                    </li>
                    <li>
                        <div class="slide">
                            <div class="slideSub">
                                <img src="./img/donation.png" alt="">
                                <h2>Donation</h2>
                                
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>

                            </div>


                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <div class="slideSub">
                                <img src="./img/scanMenu.png" alt="">
                                <h2>Scan to menu</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <div class="slideSub">
                                <img src="./img/chatbot.png" alt="">
                                <h2>IWRS/chatbots</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="slide">6</div>
                    </li>
                    <li>
                        <div class="slide">7</div>
                    </li> -->
                </ul>
                <div class="slider__buttons">
                    <button class="slider__button" data-slider-prev disabled>
                        < </button>
                            <button class="slider__button" data-slider-next>
                                >
                            </button>
                </div>
            </div>
        </div>
    </div>

    <div class="serviceContiner">
        <div class="container" >
            <h2>Services</h2>
            <p>I would love to share with you guys my recent work Beauty Product Website Design. Hope you guys enjoy and
                press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.I would
                love to share with you guys my recent work Beauty Product Website Design. Hope you guys enjoy and press
                "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.I would love
                to share with you guys my recent work Beauty Product Website Design.
                Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the
                comments below.</p>
            <div class="serviceBox" >
                <ul class="serviceBox" >
                    <li>
                        <div class="serviceItem" style="color: #fff;">
                            <div class="serviceItemeSub">
                                <img src="./img/serviceOne.png" alt="">
                                <h2>IWRS/chatbots</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="serviceItem" style="color: #fff;">
                            <div class="serviceItemeSub">
                                <img src="./img/marketingImg.png" alt="">
                                <h2>Marketing Companion</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="serviceItem" style="color: #fff;">
                            <div class="serviceItemeSub">
                                <img src="./img/supportImg.png" alt="">
                                <h2>Support Systems</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>

                    </li>

                    <li>
                        <div class="serviceItem" style="color: #fff;">
                            <div class="serviceItemeSub">
                                <img src="./img/businessImg.png" alt="">
                                <h2>Business Application</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>

                    </li>
                   
                  
                    
                    
                    <!-- <li>
                        <div class="slide">6</div>
                    </li>
                    <li>
                        <div class="slide">7</div>
                    </li> -->
                </ul>
                
            </div>
        </div>
    </div>

    <div class="benifitsContiner">
        <div class="container" style="width: -webkit-fill-available;" >
            <h2>Benenifits Using Our Services</h2>
            <p>
                I would love to share with you guys my recent work Beauty Product Website Design.<br>
Hope you guys enjoy and press "L" if you like it. Got any feedback or comment? Feel free to leave in the comments below.
            </p>
            <div class="benfitsBox" >
                <ul class="benfitsBox" >
                    <li>
                        <div class="benfitsItem activeBenfits">
                            <div class="benfitsItemeSub">
                                <img src="./img/easyImg.png" alt="">
                                <h2>Easy</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="benfitsItem">
                            <div class="benfitsItemeSub">
                                <img src="./img/effeciantImg.png" alt="">
                                <h2>Efficient</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="benfitsItem">
                            <div class="benfitsItemeSub">
                                <img src="./img/effectiveImg.png" alt="">
                                <h2>Effective</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="benfitsItem">
                            <div class="benfitsItemeSub">
                                <img src="./img/economicalImg.png" alt="">
                                <h2>Economical</h2>
                                <p>
                                    It is a long established fact
                                    that a reader will be distracted
                                    by the readable content of a
                                    page when
                                </p>
                            </div>
                        </div>

                    </li>
                   
                  
                    
                    
                    <!-- <li>
                        <div class="slide">6</div>
                    </li>
                    <li>
                        <div class="slide">7</div>
                    </li> -->
                </ul>
                
            </div>
        </div>
    </div>





    <div class="footer_main vailoFooterSection" id="Contact">
        <div class="imgLine">
            <img src="./img/line.png" alt="" class="lineImg">
            <img src="./img/arrowUp.png" alt="" class="arrowUpF" style="">
        </div>
        <!-- <div class="line">
            <div class="curve"></div>
            <div class="arrow"></div>
          </div> -->
        <footer>
            <div class="footer_span footerDiv vailoFooterMain">
                <span class="footerLogoVailo">
                    <img class=" footer_logo vailoFooterLogo" src="./img/logoFooter.png" alt="vailo_ai_logo.png">

                </span>
                <span class="footer_span1 footerDiv vailoFooterSpan1">

                    <p>Menu</p>
                    <p><a href="">Home</a></p>
                    <p><a href="">About Us</a></p>
                    <p><a href="">FAQ</a></p>
                    <p><a href="">Partners</a></p>

                </span>
                <span class="footer_span1 footerDiv vailoFooterSpan1">

                    <p>Platforms</p>
                    <p><a href="">Appointment</a></p>
                    <p><a href="">D2C</a></p>
                    <p><a href="">Donation</a></p>
                    <p><a href="">Scan to menu</a></p>
                    <p><a href="">Ticket</a></p>

                </span>
                <span class="footer_span1 footerDiv vailoFooterSpan1">

                    <p>Services</p>
                    <p><a href="">Business Application</a></p>
                    <p><a href="">IWRS/Chatbots</a></p>
                    <p><a href="">Marketing companion</a></p>
                    <p><a href="">Support Systems</a></p>

                </span>

                <!-- <div> -->
                <span class="footer_span1 footerDiv vailoFooterSpan1 allignLeft">

                    <p>Contact us</p>
                    <p><a href="">08040987632</a></p>
                    <p><a href="">vailo@.com</a></p>
                    <p><a href=""> #600, 3rd floor, 15th Cross, 14th <br>
                            Main Rd, Sector 4,
                            HSR Layout,<br>
                            Bengaluru, Karnataka-560102</a></p>
                    <!-- <p><a href="">Support Systems/a></p> -->


                </span>
                <!-- </div> -->
            </div>
            <hr class="hrBottomFooter">

            <div class="footerBottom">
                <div>
                    <p>Privacy policy</p>
                    <p>Terms and conditions</p>
                    <p>Refund and privacy policy</p>

                </div>
                <div class="socialLinkDiv">
                    <p>Follow us</p>
                    <div class="socialLink">
                        <a href="https://www.facebook.com/vailo.ai7"><img src="./img/facebookLogo.png" alt=""></a>
                        <a href="https://www.linkedin.com/company/vailo-ai/"><img src="./img/linkedIn.png" alt=""></a>
                        <a href="https://twitter.com/vailo_ai"><img src="./img/twitterLogo.png" alt=""></a>
                        <a href="https://www.youtube.com/channel/UCIn4se5uNWm-xew7bYuQBMA"></a><img
                            src="./img/youtubeLogo.png" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- <div style="margin: 1000px 0;"></div> -->

            <!-- <span class="footer_span1 footerDiv vailoFooterSpan1">

                <p></p>
                <p><a href="">08040987632</a></p>
                <p><a href="">vailo@.com</a></p> -->
            <!-- <p><a href="">#600,  3rd floor, 15th Cross, 14th
                    Main Rd, Sector 4,
                    HSR Layout,
                    Bengaluru, Karnataka-560102</a></p> -->
            <!-- <p><a href="">Support Systems/a></p> -->


            <!-- </span> -->
            <!-- <span class="footer_span2 footerDiv vailoFooterSpan2 vailoFooterAdres">
                <p><a href="{% url 'demo' %}"><img src="{% static 'img/phoneImg.png' %}" alt=""><span>08040987632</span>
                    </a></p>
                <p><a href="{% url 'faq' %}"><img src="{% static 'img/mailImg.png' %}"
                            alt=""><span>contact@vailo.com</span></a></p>
                <p><a href="{% url 'termsConditions'%}"><img src="{% static 'img/addressImg.png' %}"
                            style="position: absolute;" alt=""><span
                            style="display: contents; position: absolute; top: -10px;">&nbsp; &nbsp; &nbsp; #600, 3rd
                            Floor, 15th Cross,<br> 14th Main, HSR Layout - Sector 4, Bengaluru - 560102</span> </a></p>

            </span> -->
            <!-- <span class="footer_span2 footerDiv vailoFooterSpan2">

                <div class="footer_span3 footerDiv vailoFooterSpan3">
                    <h3>Find us on</h3>
                    <span class="footer_icon1 vailoFooterIcons">
                        <a href="https://www.facebook.com/vailo.ai7">
                           
                            <i class="bi bi-facebook"></i>

                            </i></a>
                        <a href="https://twitter.com/vailo_ai">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCIn4se5uNWm-xew7bYuQBMA">
                            <i class="bi bi-youtube"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/vailo-ai/">
                            <i class="bi bi-linkedin"></i>
                            <a>
                    </span>
                </div>
            </span> -->



        </footer>
    </div>



    <!-- 
<footer>
    <div>
        <div><img src="./img/" alt=""></div>
        <div><ul>
            <li></li>
        </ul></div>
    </div>
</footer> -->






















    <script src="./index.js"></script>
</body>

</html>