{% extends "appointmentDash.html" %}
{% load static %}

{% if user.is_authenticated %}
{% block title %} {{user.username}} {% endblock title %}
{% else %}

{% endif %}

{% block header %}

{% endblock header %}


{% block rightcontent %}
{% include 'A_Appointment/AppointmentConfig.html' %}
{% if AppointmentDash %}


<div class="frmCenter" style="margin: 20px;">
    <div>
        <form class="profileForm" action="{% if marketplace_id %}{% url 'editSubmitAppointmentinfo' %}?marketplace_id={{ marketplace_id }}{% else %}{% url 'editSubmitAppointmentinfo' %}{% endif %}" method="post"
            enctype="multipart/form-data" style="position: relative; width: 100%;">
            {% csrf_token %}
            <div style="display: flex; gap: 25px; margin-bottom:10px;">
                <input type="hidden" name="marketplace_id" value="{{ donationDash.marketplace_id }}">

                <div class="profileForm profileForm1">
                    <span class="headFlex">
                        <h4>Welcome message</h4>
                    </span>
                    <p>Marketplace ID: {{ AppointmentDash.marketplace_id }}</p>
                    <!-- Other fields... -->
                </div>

            </div>
            <div class="profileForm">
                <span class="headFlex">
                    <h4>Welcome message</h4>
                </span>
                <span class="formOne inputGridTwo">
                    <!-- <span> -->
                    <span>
                        <label for="welcomeheaderimageId">Welcome Image</label>
                        <span class="formImgFlex">
                            <img src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{AppointmentDash.welcome_image}}">
                            <span class="formImgFlexDelete">
                                <img src="" id="output1">
                                {% if k.donation_image %}
                                <img class="imgDelete" src="{% static 'img/deleteIcn.png' %}"
                                    onclick="clearFileInputInfo1('id_rewelcomeImage')"></img>
                                {% endif %}
                            </span>
                            <input type="file" id="rewelcomeheaderimageId" name="rewelcome_image" class="imageInput"
                                accept="image/*"
                                onchange="document.getElementById('output1').src=window.URL.createObjectURL(this.files[0])">
                            <span class="validationMessageImg"></span>
                        </span>
                        <span></span>
                    </span>
                    <span>
                        <label for="welcomeheaderimageId">contact image</label>
                        <span class="formImgFlex">
                            <img src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{AppointmentDash.contactus_image}}">
                            <span class="formImgFlexDelete">
                                <img src="" id="output1">
                                {% if k.donation_image %}
                                <img class="imgDelete" src="{% static 'img/deleteIcn.png' %}"
                                    onclick="clearFileInputInfo1('id_rewelcomeImage')"></img>
                                {% endif %}
                            </span>
                            <input type="file" id="rewelcomeheaderimageId" name="rewelcome_image" class="imageInput"
                                accept="image/*"
                                onchange="document.getElementById('output1').src=window.URL.createObjectURL(this.files[0])">
                            <span class="validationMessageImg"></span>
                        </span>
                    </span>
                </span>
                <span class="formOne inputGridThree">

                    <span>
                        <label for="welcomemessageheaderId">Welcome Message</label>
                        <input type="text" id="welcomemessageheaderId" name="reappointmentwelcomemessage"
                            value="{{AppointmentDash.welcome_message}}" >
                        <span class="charCount"></span>
                    </span>
                    <span>
                        <label for="welcomemessagetextId">Booking Button Name</label>
                        <input type="text" id="welcomemessagetextId" name="reappointmentDescription"
                            value="{{AppointmentDash.booking_button_name}}" >
                        <span class="charCount"></span>
                    </span>
            
                    <span>
                        <label for="welcomefootertextId">My Bookings Button Name</label>
                        <input type="text" id="welcomefootertextId" name="reappointmentFooter"
                            value="{{AppointmentDash.my_bookings_button_name}}">
                        <span class="charCount"></span>
                    </span>
            
                    <span>
                        <label for="bookingbuttonnameId">Contact Us Button Name</label>
                        <input type="text" id="bookingbuttonnameId" name="reappintmentNowButtonName"
                            value="{{AppointmentDash.contact_us_button_name}}">
                        <span class="charCount"></span>
                    </span>
                    <span>
                        <label for="bookingbuttonnameId">Main Support Number</label>
                        <input type="text" id="bookingbuttonnameId" name="reappintmentsupportnumber"
                            value="{{AppointmentDash.main_support_number}}">
                        <span class="charCount"></span>
                    </span>
                    <span>
                        <label for="bookingmyticketnameId">Consultant List Message</label>
                        <input type="text" id="bookingmyticketnameId" name="remyappointmentButtonName"
                            value="{{AppointmentDash.consultant_list_message}}">
                        <span class="charCount"></span>
                    </span>
            
                    <span>
                        <label for="bookingmyticketnameId1">Consultant List Button Name </label>
                        <input type="text" id="bookingmyticketnameId1" name="recontactUsButtonName"
                            value="{{AppointmentDash.consultant_list_button_name}}">
                        <span class="charCount"></span>
                    </span>
                    <span>
                        <label for="bookingappointmentticketnameId1">Contactus Address </label>
                        <input type="text" id="bookingappointmentticketnameId1" name="recontactUsAddresName"
                            value="{{AppointmentDash.contactus_address}}">
                        <span class="charCount"></span>
                    </span>
                    <span>
                        <label for="appointmentcontactus_descriptionId1">Contactus Description </label>
                        <input type="text" id="appointmentcontactus_descriptionId1" name="recontactUsdescriptionName"
                            value="{{AppointmentDash.contactus_description}}">
                        <span class="charCount"></span>
                    </span>
            </div>
            <span></span>
            <span class="spanSubmitForm" style="margin-top: 50px;">
                <input type="submit" value="Submit" style="margin-left: 47% ;">
            </span>
            {% endif %}
        </form>
    </div>
</div>




<script>
    $(document).ready(function () {
        // Show validation message when an image is selected
        $(".imageInput").on("change", function () {
            if (this.files && this.files[0]) {
                // Display the message inside the corresponding span
                $(this).siblings(".validationMessageImg").text("Image selected.");
            } else {
                // Clear the message
                $(this).siblings(".validationMessageImg").text("");
            }
        });
    });
</script>

{% endblock rightcontent %}


{% block script %}



{% endblock script %}