{% extends "appointmentDash.html" %}
{% load static %}

{% if user.is_authenticated %}
{% block title %} {{user.username}} {% endblock title %}
{% else %}

{% endif %}

{% block header %}

{% endblock header %}


{% block rightcontent %}
{% include 'A_Appointment/AppointmentConfig.html' %}


<div class="mT15">
    <div class="headFlex">
        
        <h3>List of Consultant</h3>
        
        <a href="{% if marketplace_id %}{% url 'AddAppointment' %}?marketplace_id={{ marketplace_id }}{% else %}{% url 'AddAppointment' %}{% endif %}">
            <button>
                Add Consultant
            </button>
        </a>
    </div>
</div>


<p>Marketplace ID: {{ marketplace_id }}</p>
<div style="overflow-y: scroll;"> 

    <table>
        <thead>
            <tr>                
                <th>Consultant Name</th>
                <th>Person Photo</th>
                <th>Image</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Location Address</th>   
                <th>Location Name</th>
                <th>Slot Duration</th>
                <th>Specialization</th>
                <th>Timezone</th>
                <th>Consultant Support Number</th>
                <th>Approval Mode</th>
                <th>Consultant Fee</th>
                <th>Consultant Details</th>
                <th style="text-align: center;">Edit / Delete</th>
                <th>Availablity</th>
                <th>Holidays</th>

            </tr>
        </thead>
        <tbody id="mytable">
            {% for a in Appointmentmaster %}
            <tr>
                <td>{{a.consultant_name}}</td>
                <td class="imgTd">
                    <img src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{a.consultant_photo}}">
                </td>
                <td class="imgTd">
                    <img src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{a.consultant_image}}">
                </td>
                <td>{{a.consultant_email}}</td>
                <td>{{a.consultant_phone}}</td>
                <td>{{a.location_address}}</td>
                <td>{{a.location_name}}</td>
                <td>{{a.slot_duration}}</td>
                <td>{{a.consultant_specialization}}</td>
                <td>{{a.consultant_timezone}}</td> 
                <td>{{a.consultant_support_number}}</td>
                <td>{{a.approval_mode}}</td>
                <td>{{a.consultant_fee}}</td>
                <td>{{a.consultant_details}}</td>
                <td>
                    <span class="editDeleteTd">
                        <a href="{% url 'editAppointment' id=a.id %}?marketplace_id={{ marketplace_id }}">
                            <img src="{% static 'img/editIcn.png' %}" alt="editIcn">
                        </a>
                        <a href="{% url 'deleteAppointment' id=a.id %}?marketplace_id={{ marketplace_id }}">
                            <img src="{% static 'img/deleteIcn.png' %}" alt="deleteIcn">
                        </a>
                    </span>
                </td>
                <td>
                    <span class="editDeleteTd">
                         <a href= "{% if marketplace_id %}{% url 'ConsultantAvailablity' a.id %}?marketplace_id={{ marketplace_id }}{% else %}{% url 'ConsultantAvailablity' a.id %}{% endif %}">
                             <button class="">Availablity</button>
                        </a>     
                    </span>
                </td>
                
                 <td>
                    <span class="editDeleteTd1">
                        <a href="{% if marketplace_id %}{% url 'consultantHolidays' a.id %}?marketplace_id={{ marketplace_id }}{% else %}{% url 'consultantHolidays' a.id %}{% endif %}">
                        <button class="">Holidays</button>
                    </a>
                    </span>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $("document").ready(function () {
        $('#search').keyup(function () {
            var value = $(this).val().toLowerCase()
            $("#mytable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>

{% endblock rightcontent %}



{% block script %}


{% endblock script %}