{% extends "appointmentDash.html" %}

{% load static %}

{% block header %}
<style>

</style>
{% endblock header %}





{% block rightcontent %}


<div class="frmCenter">

    <form action="  {% if marketplace_id %}{% url 'appointmentpayment_page' id %}?marketplace_id={{ marketplace_id }}{% else %}{% url 'appointmentpayment_page' id %}{% endif %}"  method="post" enctype="multipart/form-data" class="profileForm ajax-form" style="position: relative; width: 95%;">
        {% csrf_token %}
        <span class="formOne" id="preferedPayment">
          <span for="">Preferred Payment Method</span>
          <select name="payment_method" id="payment_method">
            <option value="0" disabled>Select method</option>
            <option value="rozorpay" {% if payment_gatewa and payment_gatewa.0.payment_gateway == 'rozorpay' %}selected{% endif %}>Rozor Pay Details</option>
            <option value="cashfree" {% if payment_gatewa and payment_gatewa.0.payment_gateway == 'cashfree' %}selected{% endif %}>Cashfree Details</option>
            <option value="paypal" {% if payment_gatewa and payment_gatewa.0.payment_gateway == 'paypal' %}selected{% endif %}>Paypal Details</option>
            <option value="stripe" {% if payment_gatewa and payment_gatewa.0.payment_gateway == 'stripe' %}selected{% endif %}>Stripe Details</option>
          </select>
        </span>
        <span style="position: relative;">
      <span class="overflow-y: scroll;">    
        <table>
          <thead>
            <tr>
              <th>Method</th>
              <th>Gateway_id</th>
              <th>Gateway_key</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            {% if not payment_gatewa %}
              <tr id="rozorpay_details" class="payment-details-row">
                <td>Rozor Pay</td>
                <td><input type="text" name="rozorpay_gateway_id"></td>
                <td><input type="text" name="rozorpay_gateway_key"></td>
                <td>
                  <select name="rozorpay_currency">
                    <option value="Rupees">Rupees</option>
                  </select>
                </td>
              </tr>
              <tr id="cashfree_details" class="payment-details-row">
                <td>Cashfree</td>
                <td><input type="text" name="cashfree_gateway_id"></td>
                <td><input type="text" name="cashfree_gateway_key"></td>
                <td>
                  <select name="cashfree_currency">
                    <option value="Rupees">Rupees</option>
                  </select>
                </td>
              </tr>
              <tr id="paypal_details" class="payment-details-row">
                <td>Paypal</td>
                <td><input type="text" name="paypal_gateway_id"></td>
                <td><input type="text" name="paypal_gateway_key"></td>
                <td>
                  <select name="paypal_currency">
                    <option value="Rupees">Rupees</option>
                    <option value="Dollar">Dollar</option>
                    <option value="Pounds">Pounds</option>
                    <option value="Euros">Euros</option>
                  </select>
                </td>
              </tr>
              <tr id="stripe_details" class="payment-details-row">
                <td>Stripe </td>
                <td><input type="text" name="stripe_gateway_id"></td>
                <td><input type="text" name="stripe_gateway_key"></td>
                <td>
                  <select name="stripe_currency">
                    <option value="Rupees">Rupees</option>
                    <option value="Dollar">Dollar</option>
                    <option value="Pounds">Pounds</option>
                    <option value="Euros">Euros</option>
                  </select>
                </td>
              </tr>
            {% else %}
              {% for gateway in payment_gatewa %}
                <tr id="{{ gateway.payment_gateway }}_details" class="payment-details-row">
                  <td>{{ gateway.payment_gateway }} </td>
                  <td><input type="text" name="{{ gateway.payment_gateway }}_gateway_id" value="{{ gateway.gateway_id }}"></td>
                  <td><input type="text" name="{{ gateway.payment_gateway }}_gateway_key" value="{{ gateway.gateway_key }}"></td>
                  <td>
                    <select name="{{ gateway.payment_gateway }}_currency">
                      <option value="Rupees" {% if gateway.currency == 'Rupees' %}selected{% endif %}>Rupees</option>
                      <option value="Dollar" {% if gateway.currency == 'Dollar' %}selected{% endif %}>Dollar</option>
                      <option value="Pounds" {% if gateway.currency == 'Pounds' %}selected{% endif %}>Pounds</option>
                      <option value="Euros" {% if gateway.currency == 'Euros' %}selected{% endif %}>Euros</option>
                    </select>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </span>
      <span class="" style="position: absolute; bottom: -75px;
      right: 70px;">
          <input type="submit" value="Submit">
        </span>
      </span>
      </form>
</div>

<script>


    document.getElementById('payment_method').addEventListener('change', function() {
        var selectedMethod = this.value;
        var paymentDetailsRows = document.getElementsByClassName('payment-details-row');
        for (var i = 0; i < paymentDetailsRows.length; i++) {
        var row = paymentDetailsRows[i];
        if (row.id === selectedMethod + '_details') {
            makeFieldsRequired(row);
        } else {
            removeFieldsRequired(row);
        }
        }
    });
    
    function makeFieldsRequired(row) {
        var inputs = row.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
        inputs[i].required = true;
        }
        var selects = row.getElementsByTagName('select');
        for (var i = 0; i < selects.length; i++) {
        selects[i].required = true;
        }
    }
    
    function removeFieldsRequired(row) {
        var inputs = row.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
        inputs[i].required = false;
        }
        var selects = row.getElementsByTagName('select');
        for (var i = 0; i < selects.length; i++) {
        selects[i].required = false;
        }
    }
    </script>




{% endblock rightcontent %}


