{% extends "vmart.html" %}
{% load static %}

{% if user.is_authenticated %}
{% block title %} {{user.username}} {% endblock title %}
{% else %}

{% endif %}

{% block header %}

{% endblock header %}






{% block rightcontent %}

<div class="adminProductDashboard">
    <h3 id="innernav" onclick="this.innerHTML='<b>{{to_c}}</b>'">Total count of products :{{to_c}}</h3>
    <div class="buttonsOfProductDiv"  id="innernav1">
        <a href="{% url 'uploadproduct' %}" class="buttonsOfProducts">Add product</a>
        <a href="{% url 'product_category_fun' %}" class="buttonsOfProducts">Add Category</a>
        <a href="{% url 'reviweAndLanch' %}" class="buttonsOfProducts">Review & Publish</a>
    </div>
    <h3>List of Product</h3>
    <div class="productDashboard">
        {% for l in im %}
        <a href="{{l.client_id}}/{{l.product_name}}/{{l.id}}/">
            <div class="cartItem">
                <div class="cartItemRight Vailo.ai">

                    <img src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{l.product_image}}" alt="">
                </div>

                <div class="leftcartItem">

                    <div class="titleCart" style="padding: 5px;">
                        <h4>{{l.product_name}}</h4>
                        <p>(1Kg)</p>
                    </div>
                    <div class="rateCart" style="padding: 5px;">
                        <span class="mainRate">Price</span>
                        <div class="rateCart">
                            <span class="Price">₹{{l.product_price}}({{l.product_offer}}%)</span>
                        </div>
                    </div>
                    <!-- <button class="AddtoCartCustomerVailo">Add to Cart</button> -->

                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>



{% endblock rightcontent %}



{% block script %}


{% endblock script %}