{% extends 'hotelDash.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block title %} {{user.username}} {% endblock title %}
{% else %}

{% endif %}

{% block header %}

{% endblock header %}


{% block rightcontent %}

<div class="mT15">

    <div class="headFlex">
        
        <h3>Hotel Room infromation </h3>
    </div>
</div>


{% include 'H_hotel/hotelConfig.html' %}

<div class="frmCenter" style="margin: 15px; width: 100%;">
    <div>
    <form class="profileForm" action="{% if marketplace_id %}{% url 'submiteditfacilitylist' modifyfacilitydata.id %}?marketplace_id={{ marketplace_id }}{% else %}{% url 'submiteditfacilitylist' modifyfacilitydata.id %}{% endif %}" method="post" enctype="multipart/form-data"
        style="position: relative; width: 100%;">
        {% csrf_token %}
        <div style="display: flex; gap: 25px; margin-bottom:10px;">
            <div class="profileForm profileForm1">
            <span class="headFlex">
                <h4>Edit Facilities </h4>
            </span>


    <span class="formOne inputGridTwo" style="padding-bottom:0 ;">
        <span>
            <label for="facility_name">Facilite Name</label>
            <input type="text" id="facility_name" name="rename"
               value="{{modifyfacilitydata.facility_name}}" >
            <span class="charCount"></span>
        </span>

        <span>
            <label for="start_time"> Start time</label>
            <input type="time" id="start_time" name="restarttime"  value="{{ modifyfacilitydata.start_time|time:'H:i' }}">

            <span class="charCount"></span>
        </span>
        <span>
            <label for="end_time">End time</label>
            <input type="time" id="end_time" name="reendtime" value="{{modifyfacilitydata.end_time|time:'H:i'}}">
            <span class="charCount"></span>
        </span>
        <span>
            <label for="facilitesdiscription">discription</label>
            <input type="text" id="discription" name="rediscription" value="{{modifyfacilitydata.discription}}" >
            <span class="charCount"></span>
        </span>
        <span>
            <label for="facility_location">Facility Location</label>
            <input type="text" id="facility_location" name="refacilitylocation" value="{{modifyfacilitydata.facility_location}}" >
            <span class="charCount"></span>
        </span>
    <span></span>
        <span class="formOne inputGridTwo">
            <!-- <span> -->
            <span>
                <label for="rehotelserviceimage">  Image</label>
                <span class="formImgFlex">
                    <img src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{modifyfacilitydata.image}}">
                    <span class="formImgFlexDelete">
                        <img src="" id="output1">
                        {% if modifyfacilitydata.image %}
                        <img class="imgDelete" src="{% static 'img/deleteIcn.png' %}"
                            onclick="clearFileInputInfo1('facilityimage', '{{modifyfacilitydata.id}}','{{marketplace_id}}')"></img>
                        {% endif %}
                    </span>
                    <input type="file" id="rehotelserviceimage" name="reimage" class="imageInput"
                        accept="image/*"
                        onchange="document.getElementById('output1').src=window.URL.createObjectURL(this.files[0])">
                    <span class="validationMessageImg"></span>
                </span>
                <span></span>
            </span>
        </span>
        <span class="formOne inputGridTwo">
            <!-- <span> -->
                <span>
                    <label for="rehotelservicevideo">  Video</label>
                    <span class="formImgFlex">
                        <video width="220" height="140" controls>
                            <source src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{a.video}}" type="video/mp4">
                        </video>
                        <span class="formImgFlexDelete">
                            <img src="" id="output2"> <!-- This might be used for a thumbnail or preview of the video -->
                            {% if modifyfacilitydata.video %}
                            <img class="imgDelete" src="{% static 'img/deleteIcn.png' %}"
                                onclick="clearFileInputInfo1('facilityvideo','{{modifyfacilitydata.id}}', '{{marketplace_id}}')">
                            {% endif %}
                        </span>
                        <input type="file" id="rehotelservicevideo" name="revideo" class="videoInput"
                            accept="video/*"
                            onchange="document.getElementById('output2').src=window.URL.createObjectURL(this.files[0])">
                        <span class="validationMessageImg"></span>
                    </span>
                    <span></span>
                </span>
                
        </span>
</div>
<span class="spanSubmitForm">
<input type="submit" value="Submit" style="margin-left: 47% ;">
</span>

</form>
</div>
</div>

<script>
    $(document).ready(function () {
    // Show validation message when an image is selected
    $(".imageInput").on("change", function () {
    if (this.files && this.files[0]) {
    // Display the message inside the corresponding span
    $(this).siblings(".validationMessageImg").text("Image selected.");
    } else {
    // Clear the message
    $(this).siblings(".validationMessageImg").text("");
    }
    });
    });
    </script>
    <script>
        function clearFileInputInfo1(deletefile, Id, marketplace_id){
            console.log(typeof(Id), Id);
            const id = Number(Id);
            console.log(typeof(id), id, deletefile);
            const url = `/H_hotel/editfacilitylist/${id}/${deletefile}?marketplace_id=${marketplace_id}`;
            console.log(url); 
            document.location.href = url;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    {% endblock rightcontent %}
    
    
    {% block script %}
    
    
    
    {% endblock script %}