{% extends 'hotelDash.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block title %} {{user.username}} {% endblock title %}
{% else %}

{% endif %}

{% block header %}

{% endblock header %}


{% block rightcontent %}

{% if admin_permission_obj and admin_permission_obj.client_marketplace  == 'yes' %}

<div>
        <form method="POST" action="{% url 'getorders' %}">
            {% csrf_token %}
            <table>
                <thead>
           <th>
            <select name="marketplacename" id="marketplace">
                <option hidden>Select Hotel Name </option>
                {% for hotel in hotelname %}
                    <option value="{{ hotel.id }}">{{ hotel.hotel_name }}</option>
                {% endfor %}
            </select></th>   
        
              <th> <button type="submit" value="Submit">Submit</button></th>
            </thead>
            </table>
        </form>
        </div>
<div style="overflow-y: scroll;">
    <table>
        <thead>
            <tr>  
                <th>Phone Number</th>
                <th>Room Number</th>
                <th>Amount</th>
                <th> Discription</th>
                <th>Status</th>
                <th>Item</th>
            </tr>
        </thead>
        <tbody id="mytable">
            {% for a in Foodheader %}
                <tr>
                    <td>{{a.customer_phone_num}}</td>
                    <td>{{a.order_delivery_room}}</td>
                    <td>{{a.order_amount}}</td>
                    <td>{{a.order_comments}}</td>
                    <td>{{a.order_status}}</td>
                    <td><a href="{% url 'fooddetails' a.id %}"><button>Details</button></a></td>

                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}


{% if admin_permission_obj and admin_permission_obj.client_marketplace  != 'yes'  %}

<div style="overflow-y: scroll;">
    <table>
        <thead>
            <tr>  
                <th>Phone Number</th>
                <th>Room Number</th>
                <th>Amount</th>
                <th> Discription</th>
                <th>Status</th>
                <th>Item</th>
            </tr>
        </thead>
        <tbody id="mytable">
            {% for a in Foodorderheader %}
                <tr>
                    <td>{{a.customer_phone_num}}</td>
                    <td>{{a.order_delivery_room}}</td>
                    <td>{{a.order_amount}}</td>
                    <td>{{a.order_comments}}</td>
                    <td>{{a.order_status}}</td>
                    <td><a href="{% url 'fooddetails' a.id %}"><button>Details</button></a></td>

                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}




<script>
    $(document).ready(function () {
    // Show validation message when an image is selected
    $(".imageInput").on("change", function () {
    if (this.files && this.files[0]) {
    // Display the message inside the corresponding span
    $(this).siblings(".validationMessageImg").text("Image selected.");
    } else {
    // Clear the message
    $(this).siblings(".validationMessageImg").text("");
    }
    });
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    {% endblock rightcontent %}
    
    
    {% block script %}
    
    
    
    {% endblock script %}