{% extends 'hotelDash.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block title %} {{user.username}} {% endblock title %}
{% else %}

{% endif %}

{% block header %}

{% endblock header %}
{% block rightcontent %}

<div style="overflow-y: scroll;">
    <table>
        <thead>
            <tr>  
                <th>Food Name</th>
                <th>Quantity</th>
                <th> Total Amount</th>
            </tr>
        </thead>
        <tbody id="mytable">
            {% for a in Foodorderdetails %}
                <tr>
                    <td>{{a.Food_Item.food_name}}</td>
                    <td>{{a.Food_quantity}}</td>
                    <td>{{a.Food_Item_Price}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
    // Show validation message when an image is selected
    $(".imageInput").on("change", function () {
    if (this.files && this.files[0]) {
    // Display the message inside the corresponding span
    $(this).siblings(".validationMessageImg").text("Image selected.");
    } else {
    // Clear the message
    $(this).siblings(".validationMessageImg").text("");
    }
    });
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    {% endblock rightcontent %}
    
    
    {% block script %}
    
    
    
    {% endblock script %}