
{% extends 'hotelDash.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block title %} {{user.username}} {% endblock title %}
{% else %}

{% endif %}

{% block header %}

{% endblock header %}


{% block rightcontent %}

<div class="mT15">

    <div class="headFlex">
        
        <h3>Hotel Room infromation </h3>
    </div>
</div>


{% include 'H_hotel/hotelConfig.html' %}


<div class="mT15">
    <div class="headFlex">
        <h3>List of Hotel Facilities</h3>
       
        <a href="{% if marketplace_id %}{% url 'addfacilities'  %}?marketplace_id={{ marketplace_id }}{% else %}{% url 'addfacilities'  %}{% endif %}">
            <button>
                Add Hotel Facilities
            </button>
        </a>
    </div>
</div>
<!--table-->
<div style="overflow-y: scroll;">
    <table>
        <thead>
            <tr>  
                <th>Facility Name</th>
                <th>Facility Location  </th>
                <th>Start Time</th>
                <th>End Time </th>
                <th>Discription</th>
                <th> Facilite Image</th>
                <th>Facilite Video</th>
                <th style="text-align: center;">Edit / Delete</th>
            </tr>
        </thead>
        <tbody id="mytable">
            {% for a in facilitydata %}
                <tr>
                    <td>{{a.facility_name}}</td>
                    <td>{{a.facility_location}}</td>
                    <td>{{a.start_time}}</td>
                    <td>{{a.end_time}}</td>
                    <td>{{a.discription}}</td>
                    <td class="imgTd">
                        <img src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{a.image}}">
                    </td>
                    <td class="videoTd">
                        <video width="50" height="50" controls>
                            <source src="https://s3.us-east-2.amazonaws.com/vailo.ai-bucket/{{a.video}}" type="video/mp4">
                        </video>
                    </td>
                    
                    <td>
                        <span class="editDeleteTd">
                            <a href="{% url 'editfacilitylist' a.id %}?marketplace_id={{marketplace_id}}">
                                <img src="{% static 'img/editIcn.png' %}" alt="editIcn">
                            </a>
                            <a href="{% url 'deletefacility' a.id %}?marketplace_id={{marketplace_id}}">
                                <img src="{% static 'img/deleteIcn.png' %}" alt="deleteIcn">
                            </a>
                        </span>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {
    // Show validation message when an image is selected
    $(".imageInput").on("change", function () {
    if (this.files && this.files[0]) {
    // Display the message inside the corresponding span
    $(this).siblings(".validationMessageImg").text("Image selected.");
    } else {
    // Clear the message
    $(this).siblings(".validationMessageImg").text("");
    }
    });
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    {% endblock rightcontent %}
    
    
    {% block script %}
    
    
    
    {% endblock script %}