{% extends "vailo.html" %} 

{% load static %}


{% block title %}aboutUs{% endblock title %} 


{% block header %} 

{% endblock header %}





{% block body %} 
<div class="forgotPassEmailReq">


    <!-- <h3>Enter New Password</h3>
    <p>Please enter password twice so we have  spell mistake</p> -->
    <form method="post">
        {%csrf_token %}
        {{form.as_p}}
        <input type="submit" name="btn" value="UpdatePassword">
    </form>


</div>
{% endblock body %}






{% block script %} 

{% endblock script %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Enter New Password</h3>
<p>Please enter password twice so we have  spell mistake</p>
<form method="post">
    {%csrf_token %}
    {{form.as_p}}
    <input type="submit" name="btn" value="UpdatePassword">
</form>
</body>
</html> -->