{% extends "vailo.html" %}

{% load static %}




{% block header %}

{% endblock header %}





{% block body %}

<div class="loginSection">

  <div class="loginSectionLeft">
    <img src="{% static 'img/passwrdReSet.png' %}" alt="">
  </div>

  <div class="loginSectionRight">

    <h2>Password Reset</h2>

    <p style="text-align: center;">
      Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
    </p>

    <form method="post" class="formReset">
      {%csrf_token %}
      {{form}}
      <span style="position: relative;">
        <input type="submit" name="btnsubmit" value="Submit" style="position: relative;">
      </span>

    </form>



  </div>

</div>



{% endblock body %}






{% block script %}

{% endblock script %}n